<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>微播 Wecast App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
  <body>
    <iframe id="c_play-frame">
    </iframe>
  </body>
</html>
<script>
var frame = document.getElementById("c_play-frame");
frame.width = window.innerWidth*0.9;
frame.height = window.innerHeight;
frame.src="http://www.baidu.com";
var url = encodeURIComponent("http://api.ibeacon-macau.com/index.html");

</script>
