<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Blue Man Show</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/fancybox2.1.5/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/styles/blue-man.css">
    <!--<script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/fancybox2.1.5/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/angular.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/controllers/blue-man.js"></script>
    <style>
      @font-face {
       font-family:loadingfont;
       src: url(fonts/MSTIFFHEIHK-ULTRABOLD.OTF);
      }
    </style>
  </head>
  <body data-ng-app="blueman" data-ng-controller="IndexCtrl" orient="portrait" ng-init="loading=0">
    <div id="landscape-container" data-ng-show="LANDSCAPE==atPage" >
      <br>
      <div class="" id="landscapeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-body" style="text-align: center;">
              <div style="position: relative;top: 10%">
                <h4 class="modal-title">溫馨提示</h4>
                <br>
                <h4 class="modal-title" id="myModalLabel">本遊戲需要手機螢幕於直向模式時操作</h4>
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="loader-wrapper">
      <div class="spinner-logo">
        <center><img style="width: 150px;opacity: 0;" src="/images/blueman/loading-logo.png"></center>
      </div>
      <div class="spinner" ng-show="false">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>

      <div class="spinner-precentage" ng-cloak>
        <center><h4 style="color: red; font-family: loadingfont;">{{loading}}%</h4></center>
      </div>
    </div>

<!--     <div id="map" style="display: none;width:100%;text-align: center;color:white;overflow-y: scroll">
      <p>
      <iframe style="z-index:1;" ng-src="https://www.google.com.hk/maps/place/%E6%BE%B3%E9%96%80%E6%96%B0%E5%9F%8E%E5%B8%82%E8%8A%B1%E5%9C%92(%E7%AC%AC%E4%B9%9D%E5%BA%A7%E8%90%AC%E5%8B%9D%E9%96%A3)/@22.2132536,113.5470802,19.5z/data=!4m5!3m4!1s0x34017b185d296d9b:0xd99eb70c2e755386!8m2!3d22.2132787!4d113.5473906" allowfullscreen="" frameborder="0" height="500px" width="100%">
      </iframe>
      </p> -->
<!--       <p>
        <h5><a href="https://www.google.com.hk/maps/place/%E6%BE%B3%E9%96%80%E6%96%B0%E5%9F%8E%E5%B8%82%E8%8A%B1%E5%9C%92(%E7%AC%AC%E4%B9%9D%E5%BA%A7%E8%90%AC%E5%8B%9D%E9%96%A3)/@22.2132536,113.5470802,19.5z/data=!4m5!3m4!1s0x34017b185d296d9b:0xd99eb70c2e755386!8m2!3d22.2132787!4d113.5473906" ng-click="log('google_map')">立即前往</a></h5>
      </p> -->
<!--     </div> -->

    <div ng-init="init()" id="top">
    </div>

    <div class="container-fluid" id="main-container" data-ng-show="MAIN==MAIN" ng-style="render.mainRect(0,0,750,4140)">
      <div id="main-event-info" ng-style="render.mainRect(26,651,60,60)">
        <a class="fancybox" href="#container_e"><img name="event-info" class="img-responsive" src="/images/blueman/main/event-info.png" ng-click="clickCount('rules');log('rules');"></a>

      </div>
      <div id="main-share" style="text-align: center;color: yellow" ng-style="render.mainRect(1428,265,220,220)">
        <img style="opacity: 0;" class="img-responsive" src="/images/blueman/main/get-bubble.gif" ng-click="atPage=SHARE;clickCount('share_button');log('share_button');gotoTop();">
      </div>
      <div id="main-arrow" style="text-align: center;" ng-style="render.mainRect(1110,304,142,142)">
        <img class="img-responsive" src="/images/blueman/main/arrow.png">
      </div>
      <div id="main-credit-1" style="color: white" ng-style="render.mainRect(1704,386,100,30)" ng-click="atPage=THANKYOU;">
        <font style="font-size: 20px">
          {{credit}}
        </font>
      </div>
      <div id="main-prize1" ng-style="render.mainRect(2062,48,327,283)">
          <img style="opacity: 0;" class="img-responsive" src="/images/blueman/prize/redeem.png" ng-click="showRedeem('prize1');clickCount('show_redeem');log('show_redeem')" ng-hide="showPrize1()">
          <img style="opacity: 1;" class="img-responsive" src="/images/blueman/main/prize1.png" ng-click="showRedeem('prize1');clickCount('show_redeem');log('show_redeem')" ng-show="showPrize1()">
      </div>
      <div id="main-credit-2" style="color: white" ng-style="render.mainRect(704,98,100,30)">
        <font style="font-size: 20px">
          {{credit}}
        </font>
      </div>
      <div id="main-prize2" ng-style="render.mainRect(2062,375,327,283)">
          <img style="opacity: 0;" class="img-responsive" src="/images/blueman/prize/redeem.png" ng-click="showRedeem('prize2');clickCount('show_redeem');log('show_redeem')" ng-hide="showPrize2()">
          <img style="opacity: 1;" class="img-responsive" src="/images/blueman/main/prize2.png" ng-click="showRedeem('prize2');clickCount('show_redeem');log('show_redeem')" ng-show="showPrize2()">
      </div>
      <div id="main-2" ng-style="render.mainRect(520,135,480,157)">
<!--         <a href="#top">
        <img class="img-responsive" style="opacity: 0;" src="/images/blueman/main/prize1.png" ng-show="showPrize1();" ng-click="atPage=PRIZE1;resetVideo();clickCount('prize1_page');log('prize1_page')">
        <img class="img-responsive" style="opacity: 0;" src="/images/blueman/main/prize1-dim.png" ng-show="showPrize1Dim();" ng-click="atPage=PRIZE1;resetVideo();clickCount('prize1_page');log('prize1_page')">
        </a> -->
        <!-- <img class="img-responsive" src="/images/blueman/main/choose.png" ng-hide="userVote" ng-click="showQuestionnaire()"> -->
        <img class="img-responsive" src="/images/blueman/main/game-result1.png" ng-show="userVote=='vote1'">
        <img class="img-responsive" src="/images/blueman/main/game-result2.png" ng-show="userVote=='vote2'">
        <img class="img-responsive" src="/images/blueman/main/game-result.png" ng-hide="userVote">
      </div>
      <div id="main-3" data-ng-show="false">
        <a href="#top">
        <img class="img-responsive" style="opacity: 0;" src="/images/blueman/main/prize2.png" ng-show="showPrize2();" ng-click="atPage=PRIZE2;clickCount('prize2_page');log('prize2_page')">
        <img class="img-responsive" style="opacity: 0;" src="/images/blueman/main/prize2-dim.png" ng-show="showPrize2Dim();" ng-click="atPage=PRIZE2;clickCount('prize2_page');log('prize2_page')">
        </a>
      </div>
      <div id="main-4" ng-style="render.mainRect(1006,67,616,48)">
        <img class="img-responsive" src="/images/blueman/main/redeem-btn-win.png" ng-show="userVote&&userVote==gameResult">
        <img class="img-responsive" src="/images/blueman/main/redeem-btn-lose.png" ng-show="userVote&&userVote!=gameResult">
        <img class="img-responsive" src="/images/blueman/main/redeem-btn.png" ng-hide="userVote">
      </div>
      <div id="vote-1" ng-show="false">
        <img class="img-responsive" src="/images/blueman/main/vote1.png" ng-click="showVote('vote1')" ng-hide="userVote=='vote1'">
        <img class="img-responsive" src="/images/blueman/main/vote1-pick.png" ng-show="userVote=='vote1'" ng-click="showVotedModal('vote1')">
      </div>
      <div id="vote-2" ng-show="false">
        <img class="img-responsive" src="/images/blueman/main/vote3.png" ng-click="showVote('vote2')" ng-hide="userVote=='vote2'">
        <img class="img-responsive" src="/images/blueman/main/vote3-pick.png" ng-show="userVote=='vote2'" ng-click="showVotedModal('vote2')">
      </div>
      <div id="redeem-vote" ng-click="showRedeemVote()" ng-show="showRedeemVoteBtn()" ng-style="render.mainRect(726,67,616,326)">
        <center>
          <img class="img-responsive" style="opacity: 1;" src="/images/blueman/main/green-finger.png" ng-style="render.mainRect(286,440,62,86)">
        </center>
      </div>
      <div id="voteRate-1" ng-show="false">
        
          <p><font>{{voteRate1}}</font>%</p>
        
      </div>
      <div id="voteRate-2" ng-show="false">
        <p><font>{{voteRate2}}</font>%</p>
      </div>
      <div id="voteBar-2" ng-show="false">
        <img class="img-responsive" src="/images/blueman/main/vote2-bar.png">
      </div>
      <div id="voteBar-1" ng-show="false">
        <img class="img-responsive" src="/images/blueman/main/vote1-bar.png" ng-style="voteBar1Style">
      </div>
      
      <div id="main-finger" ng-style="render.mainRect(1564,375,60,84)">
        <img class="img-responsive" src="/images/blueman/main/main-finger.png">
      </div>
      <div id="main-5" ng-click="atPage=THANKYOU;" data-ng-show="false" >
      </div>
      <div id="main-qr" ng-style="render.mainRect(4008,0,750,132)">
        <a class="fancybox" href="/images/blueman/main/maximity-qr.png">
          <img style="opacity: 0;" name="mainQr" class="img-responsive" src="/images/blueman/main/main-qr.png">
        </a>
      </div>
      <div id="main-map" ng-style="render.mainRect(3576,250,105,105)">
        <a href="https://www.google.com.hk/maps/place/%E6%BE%B3%E9%96%80%E6%96%B0%E5%9F%8E%E5%B8%82%E8%8A%B1%E5%9C%92(%E7%AC%AC%E4%B9%9D%E5%BA%A7%E8%90%AC%E5%8B%9D%E9%96%A3)/@22.2132536,113.5470802,19.5z/data=!4m5!3m4!1s0x34017b185d296d9b:0xd99eb70c2e755386!8m2!3d22.2132787!4d113.5473906" ng-click="log('google_map')">
          <img style="opacity: 0;" class="img-responsive" src="/images/blueman/main/map.png">
        </a>
      </div>
      <div id="main-phone" ng-click="log('tel')" ng-style="render.mainRect(3576,393,105,105)">
        <a href="tel:85328235399"><img style="opacity: 0;" class="img-responsive" src="/images/blueman/main/map.png"></a>
      </div>
      <div id="customer-qr" ng-style="render.mainRect(3711,242,266,266)">
          <img name="customerQr" class="img-responsive" src="/images/blueman/main/cheers-qr.png">
      </div>
<!--       <div id="share-friend">
        <a id="show-friend" class="fancybox" href="#friends-list" ng-click="friendClick('button',$event);log('friends_page')">
        <img class="img-responsive" style="opacity: 0;" src="/images/blueman/main/prize1.png">
        </a>
      </div> -->
    </div>
    <div class="container" id="container_e" >
      <div id="container_e-inner" >
      <center>

      <div id="event-1">
        <div id="event-1-content">
        <p class="text-justify">1. 玩家將遊戲頁面<font class="yellow">Share</font>比朋友，<font class="yellow">每位朋友點擊可贈送一個"❤"比你</font>。玩家可憑相應數量的"❤"兌換獎品，每位玩家每項獎品每天只可兌換一次；</p>
        <p class="text-justify">2. 如玩家所投選的國家隊伍勝出2016年歐洲國家杯冠軍，玩家所擁有的"❤"可享有一次雙倍獎勵，投票截止時間為澳門時間2016/07/11凌晨02:45 (即2016歐國杯決賽開賽前15分鐘)；雙倍獎勵兌換的截止日期為2016/07/20；</p>
        <p class="text-justify">3. 收集足夠"❤"後，得獎者須於2016年7月31日前，前往澳門台山<font class="yellow">數碼動力</font>，出示相應的領獎頁給予在場的工作人員兌換獎品；若得獎者無法按照活動規定時間內領獎，數碼動力有權取消其得獎資格；</p>
        <p class="text-justify">4. 獎品換領地址：澳門台山菜園涌邊街73號數碼動力</p>
        <p class="text-justify">5. 獎品換領時間：<font class="yellow">18:00-03:00</font></p>
        <p class="text-justify">6. 得獎者所提供之個人資料，僅用作此活動聯絡領獎事宜；</p>
        <p class="text-justify">7. 活動參加者不得以任何非法手段破壞活動規則及影響活動數據，否則其參加及得獎資格將作廢；</p>
        <p class="text-justify">8. 數碼動力有權隨時修改此活動條款及細則，無須事前通知；</p>
        <p class="text-justify">9. 數碼動力保留最終活動解釋權；</p>
        <p class="text-justify">10. 如有任何查詢請致電數碼動力，電話<font class="yellow"></font>或微信公眾號：<font class="yellow"></font>查詢</p>
        </div>
      </div>
      </center>
      </div>
    </div>
    <div class="container-fluid" id="container_share" data-ng-show="SHARE==atPage" ng-click="friendClick('main',$event);" ng-style="render.shareRect(0,0,750,1206)">
      <!--<div id="share-1" ng-click="atPage=MAIN"></div>-->
      <div id="share-2" class="row" style="index-z:1000;" ng-style="render.shareRect(0,0,750,555)">
    </div>
      
      
    </div>
    <div class="container-fluid" id="container_thankyou" data-ng-show="THANKYOU==atPage" ng-click="log('thankyou_page');" ng-style="render.thankyouRect(0,0,750,1206)">
      <div id="thankyou-1" ng-style="render.thankyouRect(800,168,413,413)">
        <a href="#top"><img class="img-responsive" style="opacity: 0;" src="/images/blueman/thankyou/iwant.gif" ng-click="atPage=MAIN;"></a>
      </div>
      <div id="qrcode" ng-show="false" style="position: absolute;right: 0;bottom: 0;left: 0;">
        <img src="/images/blueman/thankyou/qrcode.png" style="max-width:100%;max-height:20%;">
      </div>
    </div>

    <!-- <div class="container-fluid" id="container_p1" ng-show="PRIZE1==atPage" ng-click="atPage=MAIN;initAboutEasywash();log('prize1_return')">
      <div id="easywash-1" ng-click="clickCount('video');log('video');">
        <iframe id="easywash-video" class="video_iframe" style="z-index:1;" ng-src="http://v.qq.com/iframe/player.html?vid=q0308w7unq8&amp;&amp;auto=0" allowfullscreen="" frameborder="0" height="100%" width="100%">
        </iframe>
      </div>
      <div class="close-btn"  data-ng-show="false">
        <a href="#top">
          <img class="img-responsive" src="/images/blueman/close.png" ng-click="atPage=MAIN;log('prize1_return')">
        </a>
      </div>
      
      <div id="prize1-qr" ng-click="log('mood_qr')">
        <img name="prize1Qr" src="/images/blueman/prize/prize1-qr.png">
      </div>
      <div id="prize1-back" ng-click="atPage=MAIN;initAboutEasywash();log('prize1_return')">
        <center><a href="#top"><img style="opacity: 0;" name="prize1Back" src="/images/blueman/about-easywash/address.png"></a></center>
      </div>
    </div> -->

<!--     <div class="container-fluid" id="container_p2" data-ng-show="PRIZE2==atPage" ng-click="atPage=MAIN;log('prize2_return')">
      <div class="close-btn" data-ng-show="false">
        <a href="#top">
          <img class="img-responsive" src="/images/blueman/close.png" ng-click="atPage=MAIN;log('prize2_return')">
        </a>
      </div>
      <div id="main-credit-2" style="color: white" data-ng-show="false">
        <font>{{credit}}</font>
      </div>
      <div id="main-prize2" class="row" data-ng-show="false">
        <center>
          <a href="#top" data-ng-show="false">
          <img name="continue-bubble" src="/images/blueman/prize/continue-bubble.png" ng-click="atPage=SHARE;clickCount('continue_collect');log('continue_collect')">
          </a>
          <a href="#top">
          <img name="redeem" class="img-responsive redeem" src="/images/blueman/prize/redeem.png" ng-click="showRedeem('prize2');clickCount('show_redeem');log('show_redeem')"> //ng-click="redeem('2')">
          </a>

        </center>
      </div>
      <div id="prize2-qr">
        <img name="prize2Qr" src="/images/blueman/prize/prize2-qr.png">
      </div>
      <div id="prize2-back" ng-click="atPage=MAIN;log('prize2_return')">
        <center><a href="#top"><img style="opacity: 0;" name="prize2Back" src="/images/blueman/about-easywash/address.png"></a></center>
      </div>
    </div> -->

<!--     <div class="modal fade"  id="veri-credit-errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" style="text-align: center;">
            <div style="position: relative;top: 10%">
            <h4>暫時無法兌換，請集齊足夠印花</h4>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal" ng-click="atPage=SHARE"><h4>繼續集印花</h4></button>
          </div>
        </div>
      </div>
    </div> -->
<!--     <div class="modal fade" id="luckyDraw-prizeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center">
            <div style="position: relative;top: 10%">
            <h4>恭喜你獲得{{luckDrawPrize}}個印花，明天再來</h4>
            <br>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal"><h4>繼續</h4></button>
          </div>
        </div>
      </div>
    </div> -->
<!--     <div class="modal fade" id="luckyDraw-errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center">
            <div style="position: relative;top: 10%">
            <h4>每位用戶每天有一次抽印花機會</h4>
            <br>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal"><h4>繼續</h4></button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="modal fade" id="normal-errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center">
            <div style="position: relative;top: 10%">
            <h5>{{normalErrMsg}}</h5>
            <br>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal" ng-show="normalErrCode==0"><h4>繼續</h4></button>
            <button type="button" class="btn" data-dismiss="modal" ng-click="atPage=SHARE" ng-show="normalErrCode==1"><h4>繼續集印花</h4></button>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="modal fade" id="errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;">
            <div style="position: relative;top: 10%">
            <h4 class="modal-title" id="myModalLabel">{{normalErrMsg}}</h4>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal">確&nbsp;認</button>
            <button type="button" class="btn" data-dismiss="modal" ng-click="atPage=SHARE">繼續集印花</button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="modal fade" id="redeemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;">
            <form class="form-inline" style="position: relative;top: 10%">
              <h4>恭喜您</h4>
              <h5>您已有足夠積分換領奬品!!</h5>
              <div class="form-group" style="margin-top: 5px;">
                <input type="password" id="verification" class="form-control" placeholder="此處由工作人員操作"
                style="background-color: #444; color:white; border: 0px;">
              </div>
              <hr style="margin-top: 10px; margin-bottom: 10px;">
              <div id="redeem-rule">
                <p>・請前往數碼動力換領奬品</p >
                <p>・地址: 澳門台山菜園涌邊街73號新城市花園第九座地下CJ鋪</p >
                <p>・領獎截止日期: 2016/07/31</p >
                <p>・領獎時間: 6pm-3am</p >
                <p>・數碼動力享有活動及獎品最終解釋權</p >
              </div>
            </form>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal" ng-click="redeem_c(prizeRedeem);clickCount('redeem');log('redeem')"><h4>確&nbsp;認</h4></button>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="modal fade" id="redeem2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" style="text-align: center;">
            <form class="form-inline" style="position: relative;top: 10%">
              <h4>恭喜你獲得足夠印花</h4>
              </br>
              <div class="form-group">
                <input type="password" id="verification2" class="form-control" placeholder="請交由工作人員輸入驗證碼" 
                style="background-color: #444; color:white; border: 0px;">
              </div>

            </form>
          </div>
          <div class="modal-footer-2" style="text-align: center;">
            <button type="button" class="btn" data-dismiss="modal" ng-click="redeem_c('prize2');clickCount('redeem');log('redeem')"><h4>確&nbsp;認</h4></button>
          </div>
        </div>
      </div>
    </div> -->
<!--     <div class="modal fade" id="questionnaireModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;;">
            <form class="form" style="position: relative;top: 10%">
              <h4>填寫問卷可獲得3積分</h4>
              </br>
              <div class="form-group">
                <input type="text" id="username" ng-model="questionnaire.username" class="form-control" placeholder="請輸入您的匿稱" 
                style="background-color: #444; color:white; border: 0px;">
              </div>
              <div class="form-group">
                <input type="text" id="phone" ng-model="questionnaire.phone" class="form-control" placeholder="請輸入您的手機號碼" 
                style="background-color: #444; color:white; border: 0px;">
              </div>
              <div class="form-group">
                <input type="text" id="email" ng-model="questionnaire.email" class="form-control" placeholder="請輸入您的Email" 
                style="background-color: #444; color:white; border: 0px;">
              </div>
              <div class="form-group">
                <input type="number" id="age" ng-model="questionnaire.age" min="1" max="100" class="form-control" placeholder="請輸入您的年齡" 
                style="background-color: #444; color:white; border: 0px;">
              </div>
              <div style="color: red;" ng-show="questionnaireErr">
                {{questionnaireErr}}
              </div>
            </form>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" ng-click="submitQuestionnaire();log('questionnaire_submit')"><h4>提&nbsp;交</h4></button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="modal fade" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;;">
            <form class="form-inline" style="position: relative;top: 10%">
              <h4>是否支持{{voteName[currentVote]}}隊？</h4>
              <h5>確認後不能更改投票</h5>
              <h5>(決賽開始前15分截止投票)</h5>
            </form>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button style="width: 40%;" type="button" class="btn" data-dismiss="modal" ng-click="vote(currentVote)"><h4>確&nbsp;認</h4></button>
            <button style="width: 40%;" type="button" class="btn" data-dismiss="modal"><h4>取&nbsp;消</h4></button>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="modal fade" id="vote2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;;">
            <form class="form-inline" style="position: relative;top: 10%">
              <h4>是否確定支持B隊？</h4>
              <h4>(比賽開始後投票不能改變)</h4>
            </form>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button style="width: 40%;" type="button" class="btn" data-dismiss="modal" ng-click="vote('vote2')"><h4>確&nbsp;認</h4></button>
            <button style="width: 40%;" type="button" class="btn" data-dismiss="modal"><h4>取&nbsp;消</h4></button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="modal fade" id="redeemVoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;">
            <form class="form-inline" style="position: relative;top: 10%">
              <h3>恭喜你!</h3>
              <h5>你支持的隊伍獲得總冠軍</h5>
              <h5>你享有當前積分雙倍獎勵一次</h5>
              <h5>是否確認領獎？</h5>
              <h5>（提示：盡量在擁有較多積分時使用雙倍獎勵，兌換截止日期為2016/07/20）</h5>
            </form>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button style="width: 40%;" type="button" class="btn" data-dismiss="modal" ng-click="redeemVote()"><h4>確&nbsp;認</h4></button>
            <button style="width: 40%;" type="button" class="btn" data-dismiss="modal"><h4>取&nbsp;消</h4></button>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="container-fluid" id="container_easywash" data-ng-show="ABOUT_EASYWASH==atPage">
      <div class="close-btn" data-ng-show="false">
        <a href="#top">
          <img class="img-responsive" src="/images/blueman/close.png" ng-click="atPage=MAIN;log('about_easywash_return')"/>
        </a>
      </div>
      <div id="rules" ng-click="clickCount('rules');log('rules');">
        <a class="fancybox" href="#container_e">
          <img style="width:100%;height:100%;border:0" class="img-responsive" src="/images/blueman/about-easywash/rules.png">
        </a>
      </div>
      <div id="easywash-1" ng-click="clickCount('video');log('video');" data-ng-show="false">
        <iframe id="easywash-video" class="video_iframe" style="z-index:1;" ng-src="http://v.qq.com/iframe/player.html?vid=q0194rb14mb&amp;&amp;auto=0" allowfullscreen="" frameborder="0" height="100%" width="100%">
        </iframe>
      </div>
      <div id="about-qr" ng-click="luckyDraw()">
        <img name="aboutQr" src="/images/blueman/about-easywash/about-qr.png">
      </div>
      <div id="easywash-2" ng-click="atPage=MAIN;log('about_easywash_return')">
        <center><a href="#top"><img style="opacity: 0;" name="address" src="/images/blueman/about-easywash/address.png"></a></center>
      </div>
      <div id="easywash-3" ng-click="clickCount('tel');log('tel')" data-ng-show="false">
        <center><a href="tel:85363539002"><img name="call" src="/images/blueman/about-easywash/call.png"></a></center>
      </div>

    </div> -->
<!--     <div class="container-fluid" id="container_questionnaire" data-ng-show="QUESTIONNAIRE==atPage">
      <div class="close-btn">
          <img class="img-responsive" src="/images/blueman/close.png" ng-click="atPage=MAIN;log('questionnaire_return')"/>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
        <center>
          <form class="form-inline" style="position: relative;top: 10%">
              <h4>恭喜你獲得足夠印花</h4>
              </br>
              <div class="form-group">
                <input type="text" id="username" class="form-control" placeholder="請輸入您的匿稱" 
                style="background-color: #444; color:white; border: 0px;">
                <input type="text" id="phone" class="form-control" placeholder="請輸入您的手機號碼" 
                style="background-color: #444; color:white; border: 0px;">
                <input type="email" id="email" class="form-control" placeholder="請輸入您的Email" 
                style="background-color: #444; color:white; border: 0px;">
                <input type="date" id="date" class="form-control" placeholder="請輸入您的生日" 
                style="background-color: #444; color:white; border: 0px;">
              </div>

            </form>
        </center>
      </div>

    </div> -->
    <a id="prize-redeem" class="fancybox" href="/images/blueman/verification/prize-redeem.png"></a>
    <a id="share-success" class="fancybox" href="#share-success-div"></a>
    <div id="share-success-div" style="display: none;text-align: center;color:white;background-color:black;" ng-click="shareSuccess();"><img src="/images/blueman/share/share-success.png" width="100%"></div>
    <div class="container" id="friends-list" >
      <div id="container_e-inner" >
      <center>

      <div id="event-2">
        <center>
          <div id="event-2-content">
            <div class="col-lg-3 col-md-3 col-xs-3" style="padding-left: 5px; padding-right: 5px;" ng-repeat="user in sharedToUsers">
                <a class="thumbnail" href="#" ng-style="thumbStyle">
                  <img class="img-responsive" ng-src="{{getImgUrl(user)}}" alt="">
                </a>
            </div>
          </div>

        </center>
        
      </div>
      </center>
      </div>
    </div>

    <script>

    $("document").ready(function(){
      $("body").css("background-color", "white");
      var mainScaleX = 750;
      var mainScaleY = 4140;
      var containerWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
      var containerHeight = containerWidth*mainScaleY/mainScaleX;

      var containerWidth_e = containerWidth*0.75;
      var containerHeight_e = containerWidth_e*736/532;
      $("#container_e").css("width", containerWidth_e);
      $("#container_e").css("height", containerHeight_e);
      $("#container_e").css("display", "none");
      //$("#container_e").css("margin-right", "10%");
      $("#event-1").css("position", "absolute");
      $("#event-1").css("top", containerHeight_e*100/736);
      $("#event-1").css("width", "85%");
      $("#event-1").css("margin", "auto");
      $("#event-1").css("color", "white");
      //$("#event-1 p").css("margin-left", "5%");

      $("#event-1-content").css("height", containerHeight_e*0.8);
      //$("#event-1-content").css("overflow-x", "hidden");
      $("#event-1-content").css("overflow-y", "scroll");
      //$("#event-1").css("overflow", "hidden");

      $("#friends-list").css("width", containerWidth_e);
      $("#friends-list").css("height", containerHeight_e);
      $("#friends-list").css("display", "none");

      $("#event-2").css("position", "absolute");
      $("#event-2").css("top", containerHeight_e*200/736);
      $("#event-2").css("width", "88%");
      $("#event-2").css("margin", "auto");
      $("#event-2").css("color", "white");
      //$("#event-1 p").css("margin-left", "5%");

      $("#event-2-content").css("height", containerHeight_e*0.7);
      //$("#event-1-content").css("overflow-x", "hidden");
      $("#event-2-content").css("overflow-y", "scroll");


      $(".fancybox").fancybox({
    		fitToView	: true,
    		width		: '100%',
    		height		: '95%',
    		autoSize	: true,
    		closeClick	: false,
    		openEffect	: 'elastic',
    		closeEffect	: 'elastic',
        overlayColor: '#000',
        overlayShow: true,
        overlayOpacity: 1,
        padding: '0px'

    	});

    });
    </script>

  </body>
</html>
