<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>MOOD X MURFY 請你睇模特大賽</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/fancybox2.1.5/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/styles/easywash.css">
    <!--<script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/fancybox2.1.5/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/controllers/easywash.js"></script>
  </head>
  <body data-ng-app="easywash" data-ng-controller="IndexCtrl" orient="portrait" ng-init="loading=0">
    <div id="landscape-container" data-ng-show="LANDSCAPE==atPage" >
      <br>
      <div class="" id="landscapeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-body" style="text-align: center;">
              <div style="position: relative;top: 5%">
                <h4 class="modal-title">溫馨提示</h4>
                <br>
                <h4 class="modal-title" id="myModalLabel">本遊戲需要手機螢幕於直向模式時操作</h4>
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="loader-wrapper">
      <!--<div class="cssload-thecube">
        <div class="cssload-cube cssload-c1"></div>
        <div class="cssload-cube cssload-c2"></div>
        <div class="cssload-cube cssload-c4"></div>
        <div class="cssload-cube cssload-c3"></div>
      </div>-->
      <div class="spinner-logo">
        <center><img style="width: 150px;" src="/images/easywash/loading-logo.png"></center>
      </div>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <!--
			<div id="loader">

      </div>-->
      <div class="spinner-precentage" ng-cloak>
        <center><h4 style="color: yellow;">{{loading}}%</h4></center>
      </div>
    </div>
    <!--
        <script>

        var opts = {
          lines: 13
        , length: 28
        , width: 14
        , radius: 42
        , scale: 1
        , corners: 1
        , color: '#000'
        , opacity: 0.25
        , rotate: 0
        , direction: 1
        , speed: 1
        , trail: 60
        , fps: 20
        , zIndex: 2e9
        , className: 'spinner'
        , top: '50%'
        , left: '50%'
        , shadow: false
        , hwaccel: false
        , position: 'absolute'
        }
        var target = document.getElementById('loader');
        var spinner = new Spinner(opts).spin(target);
      </script>



    <header class="ip-header">

				<div class="ip-loader">
					<svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
						<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
						<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
					</svg>
				</div>
			</header>
    -->

<!--     <div id="map" style="display: none;width:100%;text-align: center;color:white;overflow-y: scroll" data-ng-show="false">
      <p>
      <img src="/images/easywash/map.png" width="95%" style="margin: auto"><br>
      </p>
      <p>
        <h3><a href="https://www.google.com/maps/d/u/0/embed?mid=1f6-mO8B76h8qNMWl6EO7uH_Evdg" ng-click="log('google_map')">立即前往</a></h3>
      </p>
    </div> -->

    <div ng-init="init()" data-ng-hide="1">
    </div>

    <div class="container-fluid" id="main-container" data-ng-show="MAIN==atPage" >
      <div id="main-event-info">
        <a href="#top"><img style="opacity: 1;" name="event-info" src="/images/easywash/main/event-info.png" ng-click="atPage=ABOUT_EASYWASH;initAboutEasywash();clickCount('about_easywash');log('about_easywash')"></a>

      </div>
      <div id="main-1" style="text-align: center;color: yellow">
        <div>
        <a href="#top"><img style="opacity: 1;" class="img-responsive" src="/images/easywash/main/get-bubble.gif" ng-click="atPage=SHARE;clickCount('share_button');log('share_button')"></a>
        </div>
        
      </div>
      <div id="prize1-1" style="color: white">
        <font>
          {{credit}}
        </font>
      </div>
      <div id="prize1-2" class="row">
        <center>
          <a href="#top">
          <img name="redeem" style="opacity: 1;" class="redeem" src="/images/easywash/prize/redeem.png" ng-click="showRedeem('prize1');clickCount('show_redeem');log('show_redeem')" >
          </a>
        </center>
      </div>
      <div id="main-2">
        <a href="#top">
        <img class="img-responsive" style="opacity: 1;" src="/images/easywash/main/prize1.png" ng-show="showPrize1();" ng-click="atPage=PRIZE1;clickCount('prize1_page');log('prize1_page')">
        <img class="img-responsive" style="opacity: 1;" src="/images/easywash/main/prize1-dim.png" ng-show="showPrize1Dim();" ng-click="atPage=PRIZE1;clickCount('prize1_page');log('prize1_page')">
        </a>
      </div>
      <div id="main-3" data-ng-show="false">
        <a href="#top">
        <img class="img-responsive" style="opacity: 0;" src="/images/easywash/main/prize2.png" ng-show="showPrize2();" ng-click="atPage=PRIZE2;clickCount('prize2_page');log('prize2_page')">
        <img class="img-responsive" style="opacity: 0;" src="/images/easywash/main/prize2-dim.png" ng-show="showPrize2Dim();" ng-click="atPage=PRIZE2;clickCount('prize2_page');log('prize2_page')">
        </a>
      </div>
      <div id="main-finger" data-ng-show="false">
        <img class="img-responsive" src="/images/easywash/main/main-finger.png">
      </div>
      
      <div id="main-5" ng-click="atPage=THANKYOU;" data-ng-show="false" >
      </div>
      <div id="main-qr">
        <a class="fancybox" href="#friends-list">
          <img name="mainQr" src="/images/easywash/main/main-qr.png">
        </a>
      </div>
    </div>
    <div class="container" id="container_e" >
      <div id="container_e-inner" >
      <center>

      <div id="event-1">
        <div id="event-1-content">
        <p class="text-justify">1. 將遊戲頁面<font class="yellow">Share</font>俾朋友，<font class="yellow">每位朋友Click入可得到一個印花</font>。滿38印花即可兌換獎品；
        </p>
        <p class="text-justify">2. 活動於<font class="yellow">2016年7月20日</font>截止，獎券請於活動期間內使用；
        </p>
        <p class="text-justify">3. <font class="yellow">模特大賽門票為限量獎品，兌獎請先聯絡客服登記</font>，換完即止；
        </p>
        <p class="text-justify">4. 任何非正常途徑擾亂活動數據，其參加及得獎資格作廢；
        </p>
        <p class="text-justify">5. MOOD保留最終活動解釋權，有權更新此活動條款及細則公告，敬請留意；
        </p>
        <p class="text-justify">6. 歡迎諮詢MOOD微信客服: <font class="yellow">Mood_tailor</font>，服務時間為<font class="yellow">10:00-00:00</font>
        </p>
        </div>
      </div>
      </center>
      </div>
    </div>
    <div class="container-fluid" id="container_share" data-ng-show="SHARE==atPage" ng-click="atPage=MAIN;">
      <!--<div id="share-1" ng-click="atPage=MAIN"></div>-->
      <div id="share-2" class="row" style="position: absolute;top:0;width:100%;index-z:1000;">
      </div>
    </div>
    <div class="container-fluid" id="container_thankyou" data-ng-show="THANKYOU==atPage" ng-click="log('thankyou_page');" >
      <div id="thankyou-1">
        <a href="#top"><img name="iwant" style="opacity: 0;" src="/images/easywash/thankyou/iwant.gif" ng-click="atPage=MAIN;"></a>
      </div>
      <div id="qrcode" style="position: absolute;right: 0;bottom: 0;left: 0;">
        <img src="/images/easywash/thankyou/qrcode.png" style="max-width:100%;max-height:20%;">
      </div>
    </div>

    <div class="container-fluid" id="container_p1" ng-show="PRIZE1==atPage" ng-click="atPage=MAIN;log('prize1_return')">
      <div class="close-btn"  data-ng-show="false">
        <a href="#top">
          <img class="img-responsive" src="/images/easywash/close.png" ng-click="atPage=MAIN;log('prize1_return')">
        </a>
      </div>
      
      <div id="prize1-qr">
        <img name="prize1Qr" src="/images/easywash/prize/prize1-qr.png">
      </div>
      <div id="prize1-back" ng-click="atPage=MAIN;log('prize1_return')">
        <center><a href="#top"><img style="opacity: 1;" name="prize1Back" src="/images/easywash/about-easywash/address.png"></a></center>
      </div>
    </div>

    <div class="container-fluid" id="container_p2" data-ng-show="PRIZE2==atPage" ng-click="atPage=MAIN;log('prize2_return')">
      <div class="close-btn" data-ng-show="false">
        <a href="#top">
          <img class="img-responsive" src="/images/easywash/close.png" ng-click="atPage=MAIN;log('prize2_return')">
        </a>
      </div>
      <div id="prize2-1" style="color: white" data-ng-show="false">
        <font>{{credit}}</font>
      </div>
      <div id="prize2-2" class="row" data-ng-show="false">
        <center>
<!--           <a href="#top" data-ng-show="false">
          <img name="continue-bubble" src="/images/easywash/prize/continue-bubble.png" ng-click="atPage=SHARE;clickCount('continue_collect');log('continue_collect')">
          </a> -->
          <a href="#top">
          <img name="redeem" class="img-responsive redeem" src="/images/easywash/prize/redeem.png" ng-click="showRedeem('prize2');clickCount('show_redeem');log('show_redeem')"> <!--//ng-click="redeem('2')">-->
          </a>
<!--           <a class="fancybox" href="#map" data-ng-show="false">
            <img name="go-wash" class="img-responsive" src="/images/easywash/prize/go-wash.png" ng-click="log('go_wash')">
          </a> -->
        </center>
      </div>
      <div id="prize2-qr">
        <img name="prize2Qr" src="/images/easywash/prize/prize2-qr.png">
      </div>
      <div id="prize2-back" ng-click="atPage=MAIN;log('prize2_return')">
        <center><a href="#top"><img style="opacity: 0;" name="prize2Back" src="/images/easywash/about-easywash/address.png"></a></center>
      </div>
    </div>

    <div class="modal fade"  id="veri-credit-errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" style="text-align: center;">
            <div style="position: relative;top: 10%">
            <h4>印花不足,暫時無法兌換</h4>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal" ng-click="atPage=SHARE"><h4>繼續集印花</h4></button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="luckyDraw-prizeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center">
            <div style="position: relative;top: 10%">
            <h4>恭喜你獲得{{prize}}個印花，明天再來</h4>
            <br>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal"><h4>繼續</h4></button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="luckyDraw-errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center">
            <div style="position: relative;top: 10%">
            <h4>每位用戶每天有一次抽人台機會</h4>
            <br>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal"><h4>繼續</h4></button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="veri-code-errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center">
            <div style="position: relative;top: 10%">
            <h4>{{redeemErrMsg}}</h4>
            <br>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal"><h4>繼續</h4></button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;">
            <div style="position: relative;top: 10%">
            <h4 class="modal-title" id="myModalLabel">{{redeemErrMsg}}</h4>
            </div>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal">確&nbsp;認</button>
            <button type="button" class="btn" data-dismiss="modal" ng-click="atPage=SHARE">繼續集印花</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="redeem1Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;;">
            <form class="form-inline" style="position: relative;top: 10%">
              <h4>恭喜你</h4>
              <h4>請聯絡客服ID:Mood_tailor</h4>
              <h4>登記兌奬</h4>
              </br>
              <div class="form-group">
                <input type="password" id="verification1" class="form-control" placeholder="請交由工作人員輸入驗證碼" 
                style="background-color: #444; color:white; border: 0px;">
              </div>

            </form>
          </div>
          <div class="modal-footer-2" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal" ng-click="redeem_c('prize1');clickCount('redeem');log('redeem')"><h4>確&nbsp;認</h4></button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="redeem2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" style="text-align: center;">
            <form class="form-inline" style="position: relative;top: 10%">
              <h4>请交由工作人员输入领奖码</h4>
              </br>
              <div class="form-group">
                <input type="password" id="verification2" class="form-control">
              </div>

            </form>
          </div>
          <div class="modal-footer-2" style="text-align: center;">
            <button type="button" class="btn" data-dismiss="modal" ng-click="redeem_c('prize2');clickCount('redeem');log('redeem')"><h4>確&nbsp;認</h4></button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="container_easywash" data-ng-show="ABOUT_EASYWASH==atPage">
      <div class="close-btn" data-ng-show="false">
        <a href="#top">
          <img class="img-responsive" src="/images/easywash/close.png" ng-click="atPage=MAIN;resetVideo();log('about_easywash_return')"/>
        </a>
      </div>
      <div id="rules" ng-click="clickCount('rules');log('rules');">
        <a class="fancybox" href="#container_e">
          <img style="width:100%;height:100%;border:0" class="img-responsive" src="/images/easywash/about-easywash/rules.png">
        </a>
      </div>
<!--       <div id="easywash-1" ng-click="clickCount('video');log('video');" data-ng-show="false">
        <iframe id="easywash-video" class="video_iframe" style="z-index:1;" ng-src="http://v.qq.com/iframe/player.html?vid=q0194rb14mb&amp;&amp;auto=0" allowfullscreen="" frameborder="0" height="100%" width="100%">
        </iframe>
      </div> -->
      <div id="about-qr" ng-click="luckyDraw()">
        <img name="aboutQr" src="/images/easywash/about-easywash/about-qr.png">
      </div>
      <div id="easywash-2" ng-click="atPage=MAIN;log('about_easywash_return')">
        <center><a href="#top"><img style="opacity: 0;" name="address" src="/images/easywash/about-easywash/address.png"></a></center>
      </div>
      <div id="easywash-3" ng-click="clickCount('tel');log('tel')" data-ng-show="false">
        <center><a href="tel:85363539002"><img name="call" src="/images/easywash/about-easywash/call.png"></a></center>
      </div>

    </div>
    <a id="prize-redeem" class="fancybox" href="/images/easywash/verification/prize-redeem.png"></a>
    <a id="share-success" class="fancybox" href="#share-success-div"></a>
    <div id="share-success-div" style="display: none;text-align: center;color:white;background-color:black;" ng-click="shareSuccess();"><img src="/images/easywash/share-success.png" width="100%"></div>
    <div class="container" id="friends-list" >
      <div id="container_e-inner" >
      <center>

      <div id="event-1">
        <div id="event-1-content">
          <div class="col-lg-3 col-md-3 col-xs-3" style="padding-left: 5px; padding-right: 5px;" ng-repeat="user in sharedToUsers">
              <a class="thumbnail" href="#" ng-style="thumbStyle">
                <img class="img-responsive" ng-src="{{getImgUrl(user)}}" alt="">
              </a>
          </div>
        </div>
      </div>
      </center>
      </div>
    </div>
<!--href="/images/easywash/map.png"

    <!--
    <script src="js/classie.js"></script>
		<script src="js/pathLoader.js"></script>
		<script src="js/main.js"></script>
    -->

    <script>

    $("document").ready(function(){
      $("body").css("background-color", "black");
      var mainScaleX = 750;
      var mainScaleY = 1337;
      var containerWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
      var containerHeight = containerWidth*mainScaleY/mainScaleX;

      //$(".back").css("float", "left");
      //$(".back").css("margin-right", "2%");
      //$(".back").css("margin-top", "2%");
      //$(".back img").css("width", containerWidth*63/mainScaleX);
      $(".close-btn").css("float", "right");
      $(".close-btn").css("margin-right", "2%");
      $(".close-btn").css("margin-top", "2%");
      $(".close-btn img").css("width", containerWidth*115/mainScaleX);

      $("#main-container").css("width", containerWidth);
      $("#main-container").css("height", containerHeight);

      var mainEventInfoTop = 109;
      var mainEventInfoWidth = 62;
      $("#main-event-info").addClass("row");
      $("#main-event-info").css("position", "absolute");
      $("#main-event-info").css("width", "100%");
      $("#main-event-info").css("top", containerHeight*mainEventInfoTop/mainScaleY);
      $("#main-event-info").css("left", containerWidth*586/mainScaleX);
      $('img[name="event-info"]').css("width", containerWidth*mainEventInfoWidth/mainScaleX);

      var main1Top = 926;
      var main1Width = 146;
      $("#main-1").css("position", "absolute");
      $("#main-1").css("top", containerHeight*main1Top/mainScaleY);
      $("#main-1").css("left", containerWidth*(mainScaleX/2)/mainScaleX);
      $("#main-1 img").css("width", containerWidth*main1Width/mainScaleX);
      $("#main-1").css("margin-left", "-"+containerWidth*main1Width/mainScaleX*0.5+"px");

      var main2Top = 736;
      var main2Center = 634;
      var main2Height = 45;
      var main2Width = 116;
      var imgHeight = containerHeight*main2Height/mainScaleX;//$("#main-2").css("height");
      //imgHeight = imgHeight.replace("px", "");
      $("#main-2").css("position", "absolute");
      $("#main-2").css("top", containerHeight*main2Top/mainScaleY);
      $("#main-2").css("left", containerWidth*main2Center/mainScaleX);
      $("#main-2 img").css("width", containerWidth*main2Width/mainScaleX);
      $("#main-2 img").css("height", containerHeight*main2Height/mainScaleY);
      //$("#main-2").css("margin-top", "-"+imgHeight+"px");
      $("#main-2").css("margin-left", "-"+containerWidth*main2Width/mainScaleX*0.5+"px");

      var main3Top = 1048;
      var main3Center = 556;
      var main3Height = 122;
      var main3Width = 342;
      $("#main-3").css("position", "absolute");
      $("#main-3").css("top", containerHeight*main3Top/mainScaleY);
      $("#main-3").css("left", containerWidth*main3Center/mainScaleX);
      $("#main-3 img").css("width", containerWidth*main3Width/mainScaleX);
      $("#main-3 img").css("height", containerHeight*main3Height/mainScaleY);
      //$("#main-3").css("margin-top", "-"+imgHeight+"px");
      $("#main-3").css("margin-left", "-"+containerWidth*main3Width/mainScaleX*0.5+"px");
      
      $("#main-finger").css("top", containerHeight*0.43);
      $("#main-finger").css("width", containerWidth);
      $("#main-finger img").css("width", containerWidth*54/mainScaleX);

      var mainQrTop = 1205;
      var mainQrLeft = 0;
      var mainQrWidth = 750;
      var mainQrHeight = 132;
      $("#main-qr").css("position", "absolute");
      $("#main-qr").css("top", containerHeight*mainQrTop/mainScaleY);
      $("#main-qr").css("left", containerWidth*mainQrLeft/mainScaleX);
      $('img[name="mainQr"]').css("width", containerWidth*mainQrWidth/mainScaleX);
      $('img[name="mainQr"]').css("height", containerHeight*mainQrHeight/mainScaleY);

      $("#main-5").css("position", "absolute");
      $("#main-5").css("top", containerHeight*576/mainScaleY);
      $("#main-5").css("left", containerWidth*22/mainScaleX);
      $("#main-5").css("height", containerHeight*49/mainScaleY);
      $("#main-5").css("width", containerWidth*109/mainScaleX);

      var shareScaleY = 1206;
      var containerHeight_share = containerWidth*shareScaleY/mainScaleX;
      $("#container_share").css("width", containerWidth);
      $("#container_share").css("height", containerHeight_share);
      $("#share-1").css("position", "absolute");
      $("#share-1").css("top", containerHeight_share*1028/1200);
      $("#share-1").css("left", containerWidth*331/mainScaleX);
      $("#share-1").css("width", containerWidth*90/mainScaleX);
      $("#share-1").css("height", containerWidth*90/mainScaleX);

      var share2Height = 453;
      $("#share-2").css("height", containerHeight_share*share2Height/shareScaleY);
      //$("#share-2").css("height", "581px");
      //$("#share-1").css("border", "1px solid red");
      $("#share-1").css("position", "absolute");

      var thankyouScaleY = 1206;
      var containerHeight_thankyou = containerWidth*thankyouScaleY/mainScaleX;
      $("#container_thankyou").css("width", containerWidth);
      $("#container_thankyou").css("height", containerHeight_thankyou);
      $("#thankyou-1").css("position", "absolute");
      $("#thankyou-1 img").css("width", containerWidth*413/mainScaleX);

      $("#thankyou-1").css("top", containerHeight_thankyou*382/thankyouScaleY);
      $("#thankyou-1").css("left", containerWidth*0.5);
      $("#thankyou-1").css("margin-left", "-"+containerWidth*413/mainScaleX*0.5+"px");

      var aboutScaleY = 1206;
      var containerHeight_easywash = containerWidth*aboutScaleY/mainScaleX;
      $("#container_easywash").css("width", containerWidth);
      $("#container_easywash").css("height", containerHeight_easywash);
      $("#easywash-1").css("position", "absolute");
      $("#easywash-1").css("top", containerHeight_easywash*408/1206);
      $("#easywash-1").css("left", containerWidth*66/mainScaleX);
      $("#easywash-1").css("width", containerWidth*618/mainScaleX);
      $("#easywash-1").css("height", containerHeight_easywash*357/1206);
      $("#easywash-1").css("border", "2px solid yellow");
      $("#event-rule").css("float", "right");
      /*
      $("#event-rule").css("top", "18%");
      $("#event-rule").css("right", "2%");
      $("#event-rule").css("float", "right");
      $("#event-rule").css("margin-right", "2%");
      $("#event-rule").css("margin-top", "2%");
      */
      //$("#event-rule img").css("width", containerWidth*126/mainScaleX);
      var aboutQrTop = 113;
      var aboutQrLeft = 50;
      var aboutQrWidth = 134;
      var aboutQrHeight = 134;
      $("#about-qr").css("position", "absolute");
      $("#about-qr").css("top", containerHeight_easywash*aboutQrTop/aboutScaleY);
      $("#about-qr").css("left", containerWidth*aboutQrLeft/mainScaleX);
      $('img[name="aboutQr"]').css("width", containerWidth*aboutQrWidth/mainScaleX);
      $('img[name="aboutQr"]').css("height", containerHeight_easywash*aboutQrHeight/aboutScaleY);

      var closeTop = 1103;
      $("#easywash-2").css("margin-top", containerHeight_easywash*closeTop/aboutScaleY);
      $("#easywash-3").css("margin-top", "5%");
      $('img[name="address"]').css("width", containerWidth*210/mainScaleX);
      $('img[name="address"]').css("height", containerHeight_easywash*76/aboutScaleY);
      $('img[name="call"]').css("width", containerWidth*340/mainScaleX);

      var containerWidth_e = containerWidth*0.75;
      var containerHeight_e = containerWidth_e*736/532;
      $("#container_e").css("width", containerWidth_e);
      $("#container_e").css("height", containerHeight_e);
      $("#container_e").css("display", "none");
      //$("#container_e").css("margin-right", "10%");
      $("#event-1").css("position", "absolute");
      $("#event-1").css("top", containerHeight_e*100/736);
      $("#event-1").css("width", "85%");
      $("#event-1").css("margin", "auto");
      $("#event-1").css("color", "white");
      //$("#event-1 p").css("margin-left", "5%");

      $("#event-1-content").css("height", containerHeight_e*0.8);
      //$("#event-1-content").css("overflow-x", "hidden");
      $("#event-1-content").css("overflow-y", "scroll");
      //$("#event-1").css("overflow", "hidden");

      $("#friends-list").css("width", containerWidth_e);
      $("#friends-list").css("height", containerHeight_e);
      $("#friends-list").css("display", "none");

      var prize1ScaleY = 4414;
      var containerHeight_prize1 = containerWidth*prize1ScaleY/mainScaleX;
      $("#container_p1").css("width", containerWidth);
      $("#container_p1").css("height", containerHeight_prize1);

      

      //$("#prize1-1").css("margin-left", "-"+containerHeight_p1*40/1206*0.7+"px");
      //$("#prize1-1").css("margin-top", "-"+containerHeight_p1*40/1206*0.5+"px");
/*

      $("#prize1-1").css("position", "absolute");
      $("#prize1-1").css("top", containerHeight_p1*200.5/1206);
      $("#prize1-1").css("left", containerWidth*565.5/mainScaleX);


      var prize11Width = $("#prize1-1").css("width");
      var prize11Height = $("#prize1-1").css("height");
      $("#prize1-1").css("margin-left", "-"+36*0.5+"px");
      $("#prize1-1").css("margin-top", "-"+20*0.5+"px");*/
      var prize1BackTop = 4519;
      var prize1BackWidth = 700;
      var prize1BackHeight = 90;
      $("#prize1-back").css("margin-top", containerHeight_prize1*prize1BackTop/prize1ScaleY);
      $('img[name="prize1Back"]').css("width", containerWidth*prize1BackWidth/mainScaleX);
      $('img[name="prize1Back"]').css("height", containerHeight_prize1*prize1BackHeight/prize1ScaleY);

      var prize1QrTop = 4017;
      var prize1QrLeft = 94;
      var prize1QrWidth = 199;
      var prize1QrHeight = 199;
      $("#prize1-qr").css("position", "absolute");
      $("#prize1-qr").css("top", containerHeight_prize1*prize1QrTop/prize1ScaleY);
      $("#prize1-qr").css("left", containerWidth*prize1QrLeft/mainScaleX);
      $('img[name="prize1Qr"]').css("width", containerWidth*prize1QrWidth/mainScaleX);
      $('img[name="prize1Qr"]').css("height", containerHeight_prize1*prize1QrHeight/prize1ScaleY);

      var prize11Top = 1004;
      var prize11Left = 146;
      $("#prize1-1").css("position", "absolute");
      $("#prize1-1").css("top", containerHeight*prize11Top/mainScaleY);
      $("#prize1-1").css("left", containerWidth*prize11Left/mainScaleX);
      $("#prize1-1").css("color", "yellow");
      //$("#prize1-1").css("width", containerHeight_p1*40/1206);
      $("#prize1-1 font").css("font-size", containerHeight*50/mainScaleY);

      var prize12Top = 960;
      var prize12Height = 90;
      $("#prize1-2").css("position", "absolute");
      $("#prize1-2").css("width", "100%");
      $("#prize1-2").css("height", containerHeight*prize12Height/mainScaleY);
      $("#prize1-2").css("top", containerHeight*prize12Top/mainScaleY);
      $("#prize1-2").css("margin-left", containerWidth*141/mainScaleX);

      var prize2ScaleY = 4742;
      var containerHeight_prize2 = containerWidth*prize2ScaleY/mainScaleX;
      $("#container_p2").css("width", containerWidth);
      $("#container_p2").css("height", containerHeight_prize2);

      var prize2BackTop = 4652;
      var prize2BackWidth = 700;
      var prize2BackHeight = 90;
      $("#prize2-back").css("margin-top", containerHeight_prize2*prize2BackTop/prize2ScaleY);
      $('img[name="prize2Back"]').css("width", containerWidth*prize2BackWidth/mainScaleX);
      $('img[name="prize2Back"]').css("height", containerHeight_prize2*prize2BackHeight/prize2ScaleY);

      var prize2QrTop = 4495;
      var prize2QrLeft = 594;
      var prize2QrWidth = 142;
      var prize2QrHeight = 142;
      $("#prize2-qr").css("position", "absolute");
      $("#prize2-qr").css("top", containerHeight_prize2*prize2QrTop/prize2ScaleY);
      $("#prize2-qr").css("left", containerWidth*prize2QrLeft/mainScaleX);
      $('img[name="prize2Qr"]').css("width", containerWidth*prize2QrWidth/mainScaleX);
      $('img[name="prize2Qr"]').css("height", containerHeight_prize2*prize2QrHeight/prize2ScaleY);

      $("#prize2-1").css("position", "absolute");
      $("#prize2-1").css("top", containerHeight_prize2*240/1206);
      $("#prize2-1").css("left", containerWidth*586/mainScaleX);
      $("#prize2-1").css("color", "yellow");
      //$("#prize1-1").css("width", containerHeight_p1*40/1206);
      $("#prize2-1 font").css("font-size", containerHeight_prize2*40/1206);

      //$("#prize2-1").css("margin-left", "-"+containerHeight_p2*40/1206*0.7+"px");
      //$("#prize2-1").css("margin-top", "-"+containerHeight_p2*40/1206*0.5+"px");
      /*
      $("#prize2-1").css("position", "absolute");
      $("#prize2-1").css("top", containerHeight_p1*200.5/1206);
      $("#prize2-1").css("left", containerWidth*565.5/mainScaleX);


      var prize11Width = $("#prize2-1").css("width");
      var prize11Height = $("#prize2-1").css("height");
      $("#prize2-1").css("margin-left", "-"+36*0.5+"px");
      $("#prize2-1").css("margin-top", "-"+20*0.5+"px");*/

      $("#prize2-2").css("position", "absolute");
      $("#prize2-2").css("width", "100%");
      $("#prize2-2").css("top", containerHeight_prize2*970/1206);

      var redeemWidth = 242;
      $('img[name="redeem"]').css("width", containerWidth*redeemWidth/mainScaleX);
      $('img[name="go-wash"]').css("width", containerWidth*153/mainScaleX);
      $('img[name="continue-bubble"]').css("width", containerWidth*153/mainScaleX);
      //alert("450");
      $(".fancybox").fancybox({
    		fitToView	: true,
    		width		: '100%',
    		height		: '95%',
    		autoSize	: true,
    		closeClick	: false,
    		openEffect	: 'elastic',
    		closeEffect	: 'elastic',
        overlayColor: '#000',
        overlayShow: true,
        overlayOpacity: 1
    	});



      //window.onorientationchange = reorient;
      //window.setTimeout(reorient, 0);
      //window.onorientationchange = reorient;
      //window.setTimeout(reorient, 0);


    });






    </script>
    <script>
      $(function(){
        var $ppc = $('.progress-pie-chart'),
          percent = parseInt($ppc.data('percent')),
          deg = 360*percent/100;
        if (percent > 50) {
          $ppc.addClass('gt-50');
        }
        $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
        $('.ppc-percents span').html(percent+'%');
      });
    </script>
  </body>
</html>
