<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Easy Wash Wecast Play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/fancybox2.1.5/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/styles/easywash.css">
    <!--<script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--
  	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/effect1.css" />
    <script src="js/modernizr.custom.js"></script>
  -->
  </head>
  <body data-ng-app="easywash" data-ng-controller="IndexCtrl" orient="portrait" >
    <div id="landscape-container" data-ng-show="LANDSCAPE==atPage" >
      <br>
      <div class="" id="landscapeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-body" style="text-align: center;">
              <div style="position: relative;top: 20%">
                <p><h4 class="modal-title">溫馨提示</h4></p>
                <br>
                <h4 class="modal-title" id="myModalLabel">本遊戲需要手機螢幕於直向模式時操作</h4>
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="loader-wrapper">
      <!--<div class="cssload-thecube">
        <div class="cssload-cube cssload-c1"></div>
        <div class="cssload-cube cssload-c2"></div>
        <div class="cssload-cube cssload-c4"></div>
        <div class="cssload-cube cssload-c3"></div>
      </div>-->
      <div class='spinner'>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
        <i>
          <b></b>
        </i>
      </div>
      <!--
			<div id="loader">

      </div>-->
    </div>
    <!--
        <script>

        var opts = {
          lines: 13
        , length: 28
        , width: 14
        , radius: 42
        , scale: 1
        , corners: 1
        , color: '#000'
        , opacity: 0.25
        , rotate: 0
        , direction: 1
        , speed: 1
        , trail: 60
        , fps: 20
        , zIndex: 2e9
        , className: 'spinner'
        , top: '50%'
        , left: '50%'
        , shadow: false
        , hwaccel: false
        , position: 'absolute'
        }
        var target = document.getElementById('loader');
        var spinner = new Spinner(opts).spin(target);
      </script>



    <header class="ip-header">

				<div class="ip-loader">
					<svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
						<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
						<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
					</svg>
				</div>
			</header>
    -->

    <div id="map" style="display: none;width:100%;text-align: center;color:white">
      <p>
      <img src="/images/easywash/map.png" width="95%" style="margin: auto"><br>
      </p>
      <p><a href="https://www.google.com/maps/d/u/0/edit?hl=zh-TW&hl=zh-TW&authuser=0&authuser=0&mid=1f6-mO8B76h8qNMWl6EO7uH_Evdg"><h4>立即前往</h4></a>
      </p>
    </div>

    <div ng-init="init()" data-ng-hide="1">
    </div>

    <div class="container-fluid" id="main-container" data-ng-show="MAIN==atPage" >
      <div id="main-event-info">
        <a href="#top"><img name="event-info" src="/images/easywash/main/event-info.png" ng-click="atPage=ABOUT_EASYWASH;clickCount('about_easywash_page');"></a>
      </div>
      <div id="main-1">
        <a href="#top"><img class="img-responsive" src="/images/easywash/main/get-bubble.gif" ng-click="atPage=SHARE;clickCount('share_page')"></a>
      </div>
      <div id="main-2">
        <a href="#top">
        <img class="img-responsive" src="/images/easywash/main/prize1.png" ng-show="showPrize1();" ng-click="atPage=PRIZE1;clickCount('prize1_page')">
        <img class="img-responsive" src="/images/easywash/main/prize1-dim.png" ng-show="showPrize1Dim();" ng-click="atPage=PRIZE1;clickCount('prize1_page')">
        </a>
      </div>
      <div id="main-3">
        <a href="#top">
        <img class="img-responsive" src="/images/easywash/main/prize2.png" ng-show="showPrize2();" ng-click="atPage=PRIZE2;clickCount('prize2_page')">
        <img class="img-responsive" src="/images/easywash/main/prize2-dim.png" ng-show="showPrize2Dim();" ng-click="atPage=PRIZE2;clickCount('prize2_page')">
        </a>
      </div>
      <div id="main-4">
        <font><b>{{credit}}</b></font>
      </div>
      <a href="#top">
      <div id="main-5" ng-click="atPage=THANKYOU;clickCount('thankyou_page')">
      </div>
      </a>
    </div>
    <div class="container" id="container_e" >
      <div id="container_e-inner" >
      <center>

      <div id="event-1">
        <div id="event-1-content">
        <p class="text-justify">1. 玩家將遊戲頁面Share比朋友，朋友每次點擊可贈送一個洗車泡泡比你，每位朋友只可贈送一個洗車泡泡。玩家須憑相應的洗車泡泡數量兌換獎品，每位玩家每項獎品只可兌換一次；
        </p>
        <p class="text-justify">2. 收集足夠泡泡數量後，得獎者須於2016年6月31日前，前往指定澳門Easywash分店(黑沙環店/青洲店)，出示相應的領獎頁給予在場的工作人員兌換獎品；若得獎者無法按照活動規定時間內領獎，主辦單位有權取消其得獎資格；
        </p>
        <p class="text-justify">3. 獎品換領時間：12:00-20:00
        </p>
        <p class="text-justify">4. 僅限Easywash工作人員在場時換領
        </p>
        <p class="text-justify">5. 得獎者所提供之個人資料，僅用作此活動聯絡領獎事宜；
        </p>
        <p class="text-justify">6. 中獎情況一切以後台數據為準，以任何駭客或其他非法行為破壞活動規則者，其參加及得獎資格將作廢，主辦方並對有關參加者或得獎者保留法律追訴權；
        </p>
        <p class="text-justify">7. 主辦單位有權隨時更改此活動條款及細則而無須事前通知或負上責任；
        </p>
        <p class="text-justify">8. Easywash易洗電單車智能洗車屋保留最終活動解釋權
        </p>
        <p class="text-justify">9. 其他疑問或投訴請聯絡Easywash微信公眾號: Easywashmacau
        </p>
        </div>
      </div>
      </center>
      </div>
    </div>
    <div class="container-fluid" id="container_share" data-ng-show="SHARE==atPage" >
      <div id="share-1" ng-click="atPage=MAIN"></div>
    </div>
    <div class="container-fluid" id="container_thankyou" data-ng-show="THANKYOU==atPage" >
      <div id="thankyou-1">
        <a href="#top"><img name="iwant" src="/images/easywash/thankyou/iwant.gif" ng-click="atPage=MAIN;"></a>
      </div>
      <div id="qrcode" style="position: absolute;right: 0;bottom: 0;left: 0;">
        <img src="/images/easywash/thankyou/qrcode.png" style="max-width:100%;max-height:20%;">
      </div>
    </div>

    <div class="container-fluid" id="container_p1" data-ng-show="PRIZE1==atPage" >
      <div class="close-btn">
        <a href="#top">
          <img class="img-responsive" src="/images/easywash/close.png" ng-click="atPage=MAIN;">
        </a>
      </div>
      <div id="prize1-1" style="color: white">
        <font>
          {{credit}}
        </font>
      </div>
      <div id="prize1-2">
        <center>
          <a href="#top">
          <img name="continue-bubble" class="img-responsive" src="/images/easywash/prize/continue-bubble.png" ng-click="atPage=SHARE;clickCount('main_page')">
          </a>
          <a href="#top">
          <img name="redeem" class="img-responsive" src="/images/easywash/prize/redeem.png" ng-click="showRedeem('prize1');clickCount('redeem')" >
          </a>
          <a class="fancybox" href="/images/easywash/map.png">
          <img name="go-wash" class="img-responsive" src="/images/easywash/prize/go-wash.png">
          </a>
        </center>
      </div>
    </div>

    <div class="container-fluid" id="container_p2" data-ng-show="PRIZE2==atPage" >
      <div class="close-btn">
        <a href="#top">
          <img class="img-responsive" src="/images/easywash/close.png" ng-click="atPage=MAIN;">
        </a>
      </div>
      <div id="prize2-1" style="color: white">
        <font>{{credit}}</font>
      </div>
      <div id="prize2-2">
        <center>
          <a href="#top">
          <img name="continue-bubble" class="img-responsive" src="/images/easywash/prize/continue-bubble.png" ng-click="atPage=SHARE;clickCount('share_page')">
          </a>
          <a href="#top">
          <img name="redeem" class="img-responsive" src="/images/easywash/prize/redeem.png" ng-click="showRedeem('prize2');clickCount('show_redeem')"> <!--//ng-click="redeem('2')">-->
          </a>
          <a class="fancybox" href="/images/easywash/map.png">
            <img name="go-wash" class="img-responsive" src="/images/easywash/prize/go-wash.png">
          </a>
        </center>
      </div>
    </div>

    <div class="modal fade" id="veri-credit-errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;">
            <div style="position: relative;top: 20%">
            <h4 class="modal-title" id="myModalLabel">泡泡唔夠喔</h4>
            <h4>請繼續"些牙"比多D朋友一齊玩啦</h4>
            </div>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal" ng-click="atPage=SHARE">繼續儲泡</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="veri-code-errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center">
            <div style="position: relative;top: 20%">
            <h4 class="modal-title" id="myModalLabel">Sorry 領獎碼有誤</h4>
            </div>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal">關閉</button>
            <button type="button" class="btn" data-dismiss="modal" ng-click="atPage=SHARE">請重新輸入</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="errModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;">
            <div style="position: relative;top: 20%">
            <h4 class="modal-title" id="myModalLabel">{{redeemErrMsg}}</h4>
            </div>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal">關閉</button>
            <button type="button" class="btn" data-dismiss="modal" ng-click="atPage=SHARE">繼續儲泡</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="redeem1Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body" style="text-align: center;;">
            <form class="form-inline" style="position: relative;top: 20%">
              <h4>請交由工作人員輸入領獎碼</h4>
              <div class="form-group">
                <input type="text" id="verification1" class="form-control">
              </div>
            </form>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn" data-dismiss="modal">關閉</button>
            <button type="button" class="btn" data-dismiss="modal" ng-click="redeem_c('prize1');clickCount('redeem')">提交</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="redeem2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" style="text-align: center">
            <form class="form-inline" style="position: relative;top: 20%">
              <h4>請交由工作人員輸入領獎碼</h4>
              <div class="form-group">
                <input type="text" id="verification1" class="form-control">
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="redeem_c('prize2');clickCount('redeem')">提交</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="container_easywash" data-ng-show="ABOUT_EASYWASH==atPage">
      <div class="close-btn">
        <a href="#top">
          <img class="img-responsive" src="/images/easywash/close.png" ng-click="atPage=MAIN"/>
        </a>
      </div>
      <div id="rules" ng-click="clickCount('rules')">
        <a class="fancybox" href="#container_e">
          <img style="width:100%;height:100%;border:0" class="img-responsive" src="/images/easywash/about-easywash/rules.png">
        </a>
      </div>
      <div id="easywash-1" ng-click="clickCount('video');fullscreen()">
        <iframe id="easywash-video" class="video_iframe" style="z-index:1;" src="http://v.qq.com/iframe/player.html?vid=q0194rb14mb&amp;&amp;auto=0" allowfullscreen="" frameborder="0" height="100%" width="100%">
        </iframe>
      </div>

      <div id="easywash-2" ng-click="clickCount('map')">
        <center><a class="fancybox" href="#map"><img name="address" src="/images/easywash/about-easywash/address.png"></a></center>
      </div>
      <div id="easywash-3" ng-click="clickCount('tel')">
        <center><a href="tel:85363539002"><img name="call" src="/images/easywash/about-easywash/call.png"></a></center>
      </div>
    </div>
<!--href="/images/easywash/map.png"
    <a id="prize-redeem" class="fancybox" href="/images/easywash/verification/prize-redeem.png"></a>
    <!--
    <script src="js/classie.js"></script>
		<script src="js/pathLoader.js"></script>
		<script src="js/main.js"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/fancybox2.1.5/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/controllers/easywash.js"></script>
    <script>

    $("document").ready(function(){
      $("body").css("background-color", "black");
      var containerWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
      var containerHeight = containerWidth*1320/750;

      //$(".back").css("float", "left");
      //$(".back").css("margin-right", "2%");
      //$(".back").css("margin-top", "2%");
      //$(".back img").css("width", containerWidth*63/750);
      $(".close-btn").css("float", "right");
      $(".close-btn").css("margin-right", "2%");
      $(".close-btn").css("margin-top", "2%");
      $(".close-btn img").css("width", containerWidth*115/750);

      $("#main-container").css("width", containerWidth);
      $("#main-container").css("height", containerHeight);
      $("#main-event-info").css("float", "right");
      $('img[name="event-info"]').css("width", containerWidth*132/750);

      $("#main-1").css("position", "absolute");
      $("#main-1").css("top", containerHeight*713/1320);
      $("#main-1").css("left", containerWidth*375/750);
      $("#main-1 img").css("width", containerWidth*298/750);
      $("#main-1").css("margin-left", "-"+containerWidth*298/750*0.5+"px");
      $("#main-2 img").css("width", containerWidth*155/750);
      var imgHeight = containerWidth*155/750*1.122;//$("#main-2").css("height");
      //imgHeight = imgHeight.replace("px", "");
      $("#main-2").css("position", "absolute");
      $("#main-2").css("top", containerHeight*1143/1320-imgHeight);
      $("#main-2").css("left", containerWidth*283/750);
      $("#main-2").css("margin-left", "-"+containerWidth*155/750*0.5+"px");

      $("#main-3").css("position", "absolute");
      $("#main-3").css("top", containerHeight*1143/1320);
      $("#main-3").css("left", containerWidth*481/750);
      $("#main-3 img").css("width", containerWidth*155/750);

      $("#main-3 img").css("margin-top", "-"+imgHeight+"px");
      $("#main-3").css("margin-left", "-"+containerWidth*155/750*0.5+"px");

      $("#main-4").css("position", "absolute");
      $("#main-4").css("top", containerHeight*737.5/1320);
      $("#main-4").css("left", containerWidth*602.5/750);
      $("#main-4").css("color", "black");
      $("#main-4").css("width", containerHeight*30/1320);
      $("#main-4 font").css("font-size", containerHeight*30/1320);

      $("#main-4").css("margin-left", "-"+containerHeight*29/1320*0.5+"px");
      $("#main-4").css("margin-top", "-"+containerHeight*29/1320*0.5+"px");

      $("#main-5").css("position", "absolute");
      $("#main-5").css("top", containerHeight*576/1320);
      $("#main-5").css("left", containerWidth*22/750);
      $("#main-5").css("height", containerHeight*49/1320);
      $("#main-5").css("width", containerWidth*109/750);


      var containerHeight_share = containerWidth*1200/750;
      $("#container_share").css("width", containerWidth);
      $("#container_share").css("height", containerHeight_share);
      $("#share-1").css("position", "absolute");
      $("#share-1").css("top", containerHeight_share*1028/1200);
      $("#share-1").css("left", containerWidth*331/750);
      $("#share-1").css("width", containerWidth*90/750);
      $("#share-1").css("height", containerWidth*90/750);
      //$("#share-1").css("border", "1px solid red");
      $("#share-1").css("position", "absolute");

      var containerHeight_thankyou = containerWidth*1206/750;
      $("#container_thankyou").css("width", containerWidth);
      $("#container_thankyou").css("height", containerHeight_thankyou);
      $("#thankyou-1").css("position", "absolute");
      $("#thankyou-1 img").css("width", containerWidth*413/750);

      $("#thankyou-1").css("top", containerHeight_thankyou*382/1206);
      $("#thankyou-1").css("left", containerWidth*0.5);
      $("#thankyou-1").css("margin-left", "-"+containerWidth*413/750*0.5+"px");

      var containerHeight_easywash = containerWidth*1206/750;
      $("#container_easywash").css("width", containerWidth);
      $("#container_easywash").css("height", containerHeight_easywash);
      $("#easywash-1").css("position", "absolute");
      $("#easywash-1").css("top", containerHeight_easywash*408/1206);
      $("#easywash-1").css("left", containerWidth*66/750);
      $("#easywash-1").css("width", containerWidth*618/750);
      $("#easywash-1").css("height", containerHeight_easywash*357/1206);
      $("#easywash-1").css("border", "2px solid yellow");
      $("#event-rule").css("float", "right");
      /*
      $("#event-rule").css("top", "18%");
      $("#event-rule").css("right", "2%");
      $("#event-rule").css("float", "right");
      $("#event-rule").css("margin-right", "2%");
      $("#event-rule").css("margin-top", "2%");
      */
      //$("#event-rule img").css("width", containerWidth*126/750);

      $("#easywash-2").css("margin-top", containerHeight_easywash*803/1206);
      $("#easywash-2").css("width", "100%");
      $("#easywash-3").css("margin-top", "5%");
      $('img[name="address"]').css("width", containerWidth*340/750);
      $('img[name="call"]').css("width", containerWidth*340/750);

      var containerWidth_e = containerWidth*0.75;
      var containerHeight_e = containerWidth_e*736/532;
      $("#container_e").css("width", containerWidth_e);
      $("#container_e").css("height", containerHeight_e);
      $("#container_e").css("display", "none");
      //$("#container_e").css("margin-right", "10%");
      $("#event-1").css("position", "absolute");
      $("#event-1").css("top", containerHeight_e*100/736);
      $("#event-1").css("width", "85%");
      $("#event-1").css("margin", "auto");
      $("#event-1").css("color", "white");
      //$("#event-1 p").css("margin-left", "5%");

      $("#event-1-content").css("height", containerHeight_e*0.7);
      //$("#event-1-content").css("overflow-x", "hidden");
      $("#event-1-content").css("overflow-y", "scroll");
      //$("#event-1").css("overflow", "hidden");




      var containerHeight_p1 = containerWidth*1206/750;
      $("#container_p1").css("width", containerWidth);
      $("#container_p1").css("height", containerHeight_p1);

      $("#prize1-1").css("position", "absolute");
      $("#prize1-1").css("top", containerHeight_p1*301/1206);
      $("#prize1-1").css("left", containerWidth*612/750);
      $("#prize1-1").css("color", "yellow");
      //$("#prize1-1").css("width", containerHeight_p1*40/1206);
      $("#prize1-1 font").css("font-size", containerHeight_p1*40/1206);

      $("#prize1-1").css("margin-left", "-"+containerWidth*40/1206*0.5+"px");
      $("#prize1-1").css("margin-top", "-"+containerHeight_p1*40/1206*0.5+"px");




/*

      $("#prize1-1").css("position", "absolute");
      $("#prize1-1").css("top", containerHeight_p1*200.5/1206);
      $("#prize1-1").css("left", containerWidth*565.5/750);


      var prize11Width = $("#prize1-1").css("width");
      var prize11Height = $("#prize1-1").css("height");
      $("#prize1-1").css("margin-left", "-"+36*0.5+"px");
      $("#prize1-1").css("margin-top", "-"+20*0.5+"px");*/

      $("#prize1-2").css("position", "absolute");
      $("#prize1-2").css("width", "100%");
      $("#prize1-2").css("top", containerHeight_p1*970/1206);

      var containerHeight_p2 = containerWidth*1206/750;
      $("#container_p2").css("width", containerWidth);
      $("#container_p2").css("height", containerHeight_p2);

      $("#prize2-1").css("position", "absolute");
      $("#prize2-1").css("top", containerHeight_p2*301/1206);
      $("#prize2-1").css("left", containerWidth*612/750);
      $("#prize2-1").css("color", "yellow");
      //$("#prize1-1").css("width", containerHeight_p1*40/1206);
      $("#prize2-1 font").css("font-size", containerHeight_p2*40/1206);

      $("#prize2-1").css("margin-left", "-"+containerWidth*40/1206*0.5+"px");
      $("#prize2-1").css("margin-top", "-"+containerHeight_p2*40/1206*0.5+"px");
      /*
      $("#prize2-1").css("position", "absolute");
      $("#prize2-1").css("top", containerHeight_p1*200.5/1206);
      $("#prize2-1").css("left", containerWidth*565.5/750);


      var prize11Width = $("#prize2-1").css("width");
      var prize11Height = $("#prize2-1").css("height");
      $("#prize2-1").css("margin-left", "-"+36*0.5+"px");
      $("#prize2-1").css("margin-top", "-"+20*0.5+"px");*/

      $("#prize2-2").css("position", "absolute");
      $("#prize2-2").css("width", "100%");
      $("#prize2-2").css("top", containerHeight_p2*970/1206);

      $('img[name="redeem"]').css("width", containerWidth*189/750);
      $('img[name="go-wash"]').css("width", containerWidth*153/750);
      $('img[name="continue-bubble"]').css("width", containerWidth*153/750);
      //alert("450");
      $(".fancybox").fancybox({
    		fitToView	: true,
    		width		: '100%',
    		height		: '95%',
    		autoSize	: true,
    		closeClick	: false,
    		openEffect	: 'elastic',
    		closeEffect	: 'elastic',
        overlayColor: '#000',
        overlayShow: true,
        overlayOpacity: 1
    	});
      $("#qingzhou-google-map").click(function(){
        $("#qingzhou-iframe").css('display', "block");

      });
      $("#heishahuan-google-map").click(function(){
        $("#heishahuan-iframe").css('display', "block");
      });


      //window.onorientationchange = reorient;
      //window.setTimeout(reorient, 0);
      //window.onorientationchange = reorient;
      //window.setTimeout(reorient, 0);


    });






    </script>

  </body>
</html>
