<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>活動設定</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/controllers/shop-config.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.min.js"></script>
    <style>
    .mandatory {
        color: #d9534f;
    }
    </style>
  </head>
  <body data-ng-app="shopconfig" data-ng-controller="IndexCtrl" orient="portrait" ng-init="init()">

    <div class="container content">
      <div class="row">  
          <div id="panel" class="panel panel-dashboard full-width">
              <div class="panel-heading panel-heading-cbj">設定</div>
                <div class="panel-body">
                  
                  <uib-tabset active="active">
                    <uib-tab index="0" heading="訂單" select="selectTab(0)">
                      <div class="panel-elem">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="orderSearch.$" placeholder="搜尋...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="getAllOrder()">全部訂單</button>
                          </span>
                        </div><!-- /input-group -->
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>
                                  <select class="form-control input-sm" ng-model="orderSearch.done">
                                    <option value="">全部</option>
                                    <option ng-value="false">未完成</option>
                                    <option ng-value="true">已完成</option>
                                  </select>
                                </th>
                                <th>
                                  <select class="form-control input-sm" ng-model="orderSearch.shipping">
                                    <option value="">全部</option>
                                    <option value="pending">待處理</option>
                                    <option value="ready">準備中</option>
                                    <option value="shipping">運送中</option>
                                    <option value="arrived">已到達</option>
                                  </select>
                                </th>
                                <th>
                                  <input type="text" class="form-control input-sm" ng-model="orderSearch.oid" placeholder="訂單號">
                                </th>
                                <th>時間</th>
                                <th>
                                  <input type="text" class="form-control input-sm" ng-model="orderSearch.phone" placeholder="客戶電話">
                                </th>
                                <th>訂單合計</th>
                                <th>操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="row in orderData | filter:orderSearch:false | orderBy:['done', '-createdAt']:false | limitTo:orderLimit:(orderCurrent*orderLimit)">
                                <td>
                                  <span class="glyphicon glyphicon-ok" style="color: green;" ng-show="row.done&&!row.deleted"></span>
                                  <span class="glyphicon glyphicon-hourglass" style="color: darkorange;" ng-show="!row.done&&!row.deleted"></span>
                                  <span class="glyphicon glyphicon-remove" style="color: red;" ng-show="row.deleted"></span>
                                </td>
                                <td>
                                  {{shippingText(row.shipping)}}
                                </td>
                                <td>
                                  {{row.oid}}
                                </td>
                                <td>
                                  {{localTimeString(row.date)}}
                                </td>
                                <td ng-repeat="prop in orderFields.prop">{{row[prop]}}</td>
                                <td>{{sumOrder(row)}}</td>
                                <td>
                                  <a ng-click="showEditOrderForm(row)"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                              </tr>
                            </tbody>

                          </table>
                          <nav aria-label="Page navigation">
                            <div>
                              <ul class="pagination">
                                <li>
                                  <label for="mySelect">共{{(orderData|filter:orderSearch:false).length}}項，顯示</label>
                                  <select name="mySelect" ng-model="orderLimit" convert-to-number ng-change="changeLimit(orderLimit)">
                                    
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                  </select>
                                  項
                                </li>
                              </ul>
                              <ul class="pagination pull-right">
                                
                                <li>
                                  <a ng-click="orderPrevPage()" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li ng-repeat="page in orderPages((orderData|filter:orderSearch:false), orderLimit)" ng-class="{active: isCurrent(page)}">
                                  <a ng-click="setCurrent(page)">{{page+1}}</a>

                                </li>
                                <li>
                                  <a ng-click="orderNextPage((orderData|filter:orderSearch:false))" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>

                              </ul>
                            </div>
                            
                          </nav>
                        </div>
                        <hr>
                        <div ng-show="showEditOrder">
                          <div class="col-md-6">
                            <h3>處理訂單</h3>
                            <form name="editOrderForm">
                              <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon" id="phone">客戶電話</span>
                                  <input type="text" name="phone" class="form-control" ng-model="selectOrder.phone" aria-describedby="phone" required disabled>
                                </div>
                                <div class="input-group">
                                  <span class="input-group-addon" id="address">送貨地址</span>
                                  <input type="text" name="address" class="form-control" ng-model="selectOrder.address" aria-describedby="address" required disabled>
                                </div>
                                <div class="input-group">
                                  <span class="input-group-addon" id="date">訂單日期</span>
                                  <input type="text" name="date" class="form-control" value="{{localTimeString(selectOrder.date)}}" aria-describedby="date" required disabled>
                                </div>
                              </div>
                              <div class="table-responsive">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th>SID</th>
                                      <th>產品名稱</th>
                                      <th>規格</th>
                                      <th>數量</th>
                                      <th>單價(MOP)</th>
                                      <th>小計(MOP)</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="row in selectOrder.list track by $index">
                                      <td>{{row.item.pid*100+row.item.specification[row.spec].sid}}</td>
                                      <td>{{row.item.name}}</td>
                                      <td>{{row.item.specification[row.spec].label}}</td>
                                      <td>{{row.value}}</td>
                                      <td>{{row.item.specification[row.spec].price}}</td>
                                      <td>{{row.value*row.item.specification[row.spec].price}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="pull-right">
                                  {{sumOrder(selectOrder)}}
                                </div>
                                
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon" id="remark">備註</span>
                                  <input type="text" name="remark" class="form-control" ng-model="remark" aria-describedby="remark" required>
                                </div>
                                
                              </div> 
                              <div class="form-group" ng-hide="selectOrder.deleted || selectOrder.done">
                                <button class="btn btn-primary" type="button btn-primary" ng-click="nextStepOrder(selectOrder, remark);remark=undefined" ng-disabled="!editOrderForm.$valid" ng-hide="selectOrder.shipping=='arrived'"><span class="glyphicon glyphicon-share-alt"></span>{{nextText(selectOrder.shipping)}}</button>
                                <button class="btn btn-primary" type="button btn-primary" ng-click="prevStepOrder(selectOrder, remark);remark=undefined" ng-disabled="!editOrderForm.$valid" ng-hide="selectOrder.shipping=='pending'"><span class="glyphicon glyphicon-backward"></span>{{prevText(selectOrder.shipping)}}</button>
                                <button class="btn btn-default" type="button btn-default" ng-click="hideEditOrderForm()"><span class="glyphicon glyphicon-remove"></span>取消</button>
                                <button class="btn btn-danger" type="button btn-danger" ng-click="cancelOrder(selectOrder, remark)" ng-disabled="!editOrderForm.$valid"><span class="glyphicon glyphicon-trash"></span>取消訂單</button>
                              </div>
                            </form>
                          </div> 
                          <div class="col-md-6">
                            <h3>訂單記錄</h3>
                            <ul class="list-group">
                              
                              <li class="list-group-item" ng-class="recordClass(record)" ng-repeat="record in selectOrder.record">
                                <span class="badge">{{localTimeString(record.date)}}</span>
                                <h4 class="list-group-item-heading">{{record.action}}</h4>
                                <p class="list-group-item-text">{{record.remark}}</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </uib-tab>
                    <uib-tab index="1" heading="產品" select="selectTab(1)">
                      <div class="panel-elem">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="search.$" placeholder="搜尋...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="showCreateForm()">新增</button>
                          </span>
                        </div><!-- /input-group -->
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>
                                  <input type="text" class="form-control input-sm" ng-model="search.pid" placeholder="PID">
                                </th>
                                <th>
                                  <input type="text" class="form-control input-sm" ng-model="search.name" placeholder="產品名稱">
                                </th>
                                <th ng-repeat="name in fields.name">{{name}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="row in data | filter:search:false | limitTo:productLimit:((productCurrent-1)*productLimit) track by row.pid">
                                <td ng-repeat="prop in fields.prop">{{row[prop]}}</td>
                                <td>{{priceRange(row)}}</td>
                                <td>
                                  <a ng-click="showEditForm(row)"><span class="glyphicon glyphicon-pencil"></span></a>
                                  <a ng-click="removeProduct(row.pid)"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div>
                            <ul class="pagination">
                              <li>
                                <label for="mySelect">共{{(data|filter:search:false).length}}項，顯示</label>
                                <select name="mySelect" ng-model="productLimit" convert-to-number ng-change="changeProductLimit(productLimit)">
                                  
                                  <option value="10">10</option>
                                  <option value="25">25</option>
                                  <option value="50">50</option>
                                </select>
                                項
                              </li>
                            </ul>
                            <ul uib-pagination total-items="(data | filter:search:false).length" ng-model="productCurrent" max-size="maxSize" class="pagination-sm pull-right" boundary-links="true" force-ellipses="true" items-per-page="productLimit" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                          </div>
                        </div>
                        
                        <div ng-show="showCreate">
                          <hr>
                          <h3>新增產品</h3>
                          <form name="createForm">
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="pid" ng-class="{mandatory: true}">PID</span>
                                <input type="number" name="pid" class="form-control" ng-model="newProduct.pid" placeholder="100001 < x < 999999" aria-describedby="pid" min="100001" max="999999" required ng-change="sidChange(newProduct)">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="name">產品名稱</span>
                                <input type="text" name="name" class="form-control" ng-model="newProduct.name" placeholder="請輸入產品名稱" aria-describedby="name" required>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="description">產品簡介</span>
                                <input type="text" name="description" class="form-control" ng-model="newProduct.description" placeholder="請輸入產品名稱" aria-describedby="description">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="category">產品分類</span>
                                <select name="category" id="category" ng-model="newProduct.category" aria-describedby="category" class="form-control" required>
                                  <option ng-repeat="cat in category" value="{{cat}}">{{cat}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="category">產品標籤</span>
                                <span class="input-group-btn" ng-repeat="tag in newProduct.tag">
                                  <button class="btn btn-info" type="button" ng-click="removeCreateTag($index)">{{tag}} <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
                                </span>
                                <input type="text" name="newEditTag" class="form-control" placeholder="new tag..." ng-model="newProduct.newEditTag">
                                <span class="input-group-btn">
                                  <button class="btn btn-success" type="button" ng-click="addCreateTag(newProduct.newEditTag)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                </span>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="media">
                                <div class="media-left">
                                  <a ng-href="{{newProduct.imgUrl}}" target="_blank">
                                    <img class="media-object" ng-src="{{newProduct.imgUrl}}" style="height: 68px" ng-show="newProduct.imgUrl">
                                    <img class="media-object" ng-src="http://placehold.it/32x32" style="height: 68px" ng-hide="newProduct.imgUrl">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <div class="input-group">
                                    <span class="input-group-addon" id="imgUrl">產品圖片</span>
                                    <input type="url" name="imgUrl" class="form-control" ng-model="newProduct.imgUrl" placeholder="請輸入產品圖片" aria-describedby="imgUrl" required>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group">
                              <h4>規格</h4>
                              <div class="media" ng-repeat="spec in newProduct.specification track by $index">
                                <div class="media-left">
                                  <a ng-href="{{spec.imgUrl}}" target="_blank">
                                    <img class="media-object" ng-src="{{spec.imgUrl}}" style="height: 68px" ng-show="spec.imgUrl">
                                    <img class="media-object" ng-src="http://placehold.it/32x32" style="height: 68px" ng-hide="spec.imgUrl">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <div class="input-group">
                                    <span class="input-group-addon" id="sid">SID</span>
                                    <input type="number" name="sid{{$index}}" class="form-control" ng-model="spec.sid" aria-describedby="sid" required disabled>
                                    <span class="input-group-addon" id="label">規格標籤</span>
                                    <input type="text" name="label{{$index}}" class="form-control" ng-model="spec.label" placeholder="請輸入規格標籤" aria-describedby="label" required>
                                    <span class="input-group-addon" id="price">售價</span>
                                    <input type="number" name="price{{$index}}" class="form-control" ng-model="spec.price" placeholder="請輸入售價"  aria-describedby="price" min="0" required>
                                    <span class="input-group-btn" ng-show="$index==0">
                                      <button class="btn btn-success" type="button" ng-click="addSpecification()">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                      </button>
                                    </span>
                                    <span class="input-group-btn" ng-show="$index>0">
                                      <button class="btn btn-danger" type="button" ng-click="removeSpecification($index)">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                      </button>
                                    </span>
                                  </div>
                                  <div class="input-group">
                                    <span class="input-group-addon" id="imgUrl">產品圖片</span>
                                    <input type="url" name="imgUrl" class="form-control" ng-model="spec.imgUrl" placeholder="請輸入產品圖片" aria-describedby="imgUrl" required>
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                            <button class="btn btn-primary" type="button btn-primary" ng-click="createProduct(newProduct)" ng-disabled="!createForm.$valid"><span class="glyphicon glyphicon-ok"></span>新增</button>
                            <button class="btn btn-default" type="button btn-default" ng-click="hideCreateForm()"><span class="glyphicon glyphicon-remove"></span>取消</button>
                          </form>
                        </div>
                        <div ng-show="showEdit">
                          <hr>
                          <h3>修改產品</h3>
                          <form name="editForm">
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="pid">PID</span>
                                <input type="number" name="pid" class="form-control" ng-model="selectProduct.pid" placeholder="100001 < x < 999999" aria-describedby="pid" min="100001" max="999999" required ng-change="sidChange(selectProduct)" disabled>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="name">產品名稱</span>
                                <input type="text" name="name" class="form-control" ng-model="selectProduct.name" placeholder="請輸入產品名稱" aria-describedby="name" required>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="description">產品簡介</span>
                                <input type="text" name="description" class="form-control" ng-model="selectProduct.description" placeholder="請輸入產品名稱" aria-describedby="description">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="category">產品分類</span>
                                <select name="category" id="category" ng-model="selectProduct.category" aria-describedby="category" class="form-control" required>
                                  <option ng-repeat="cat in category" value="{{cat}}">{{cat}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon" id="category">產品標籤</span>
                                <span class="input-group-btn" ng-repeat="tag in selectProduct.tag">
                                  <button class="btn btn-info" type="button" ng-click="removeEditTag($index)">{{tag}} <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
                                </span>
                                <input type="text" name="newEditTag" class="form-control" placeholder="new tag..." ng-model="selectProduct.newEditTag">
                                <span class="input-group-btn">
                                  <button class="btn btn-success" type="button" ng-click="addEditTag(selectProduct.newEditTag)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                </span>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="media">
                                <div class="media-left">
                                  <a ng-href="{{selectProduct.imgUrl}}" target="_blank">
                                    <img class="media-object" ng-src="{{selectProduct.imgUrl}}" style="height: 68px">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <div class="input-group">
                                    <span class="input-group-addon" id="imgUrl">產品圖片</span>
                                    <input type="url" name="imgUrl" class="form-control" ng-model="selectProduct.imgUrl" placeholder="請輸入產品圖片" aria-describedby="imgUrl" required>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <h4>規格</h4>
                              <div class="media" ng-repeat="spec in selectProduct.specification track by $index">
                                <div class="media-left">
                                  <a ng-href="{{spec.imgUrl}}" target="_blank">
                                    <img class="media-object" ng-src="{{spec.imgUrl}}" style="height: 68px" ng-show="spec.imgUrl">
                                    <img class="media-object" ng-src="http://placehold.it/32x32" style="height: 68px" ng-hide="spec.imgUrl">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <div class="input-group">
                                    <span class="input-group-addon" id="sid">SID</span>
                                    <input type="number" name="sid{{$index}}" class="form-control" ng-model="spec.sid" aria-describedby="sid" required disabled>
                                    <span class="input-group-addon" id="label">規格標籤</span>
                                    <input type="text" name="label{{$index}}" class="form-control" ng-model="spec.label" placeholder="請輸入規格標籤" aria-describedby="label" required>
                                    <span class="input-group-addon" id="price">售價</span>
                                    <input type="number" name="price{{$index}}" class="form-control" ng-model="spec.price" placeholder="請輸入售價"  aria-describedby="price" min="0" required>
                                    
                                    <span class="input-group-btn" ng-show="$index==0">
                                      <button class="btn btn-success" type="button" ng-click="addSelectSpecification()">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                      </button>
                                    </span>
                                    <span class="input-group-btn" ng-show="$index>0">
                                      <button class="btn btn-danger" type="button" ng-click="removeSelectSpecification($index)">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                      </button>
                                    </span>
                                  </div>
                                  <div class="input-group">
                                    <span class="input-group-addon" id="imgUrl">產品圖片</span>
                                    <input type="url" name="imgUrl" class="form-control" ng-model="spec.imgUrl" placeholder="請輸入產品圖片" aria-describedby="imgUrl" required>
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                            <button class="btn btn-primary" type="button btn-primary" ng-click="editProduct(selectProduct)" ng-disabled="!editForm.$valid"><span class="glyphicon glyphicon-ok"></span>修改</button>
                            <button class="btn btn-default" type="button btn-default" ng-click="hideEditForm()"><span class="glyphicon glyphicon-remove"></span>取消</button>
                          </form>
                        </div>
                      </div>
                      
                    </uib-tab>
                    <uib-tab index="2" heading="報告" select="selectTab(2)">
                      <div class="panel-elem">
                        <hr>
                        <div class="form-group">
                          <label for="year">年份:</label>
                          <select name="year" ng-model="year" convert-to-number ng-change="changeYear(year)">
                            <option>2016</option>
                          </select>
                          <label for="year">月份:</label>
                          <select name="month" ng-model="month" ng-change="changeMonth(year, month)">
                            <option value="">全年</option>
                            <option ng-repeat="m in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]" value="{{m}}">{{m+1}}</option>
                          </select>
                          {{year}}-{{month}}
                        </div>
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>
                                  月份
                                </th>
                                <th>
                                  營業額
                                </th>
                                <th>
                                  訂單數
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="row in orderReport | orderBy:['month']:false">
                                <td>
                                  {{row.title+1}}
                                </td>
                                <td>
                                  MOP ${{row.sum}}
                                </td>
                                <td>
                                  {{row.count}} 單
                                </td>
                              </tr>
                            </tbody>

                          </table>
                      </div>
                    </uib-tab>

                  </uib-tabset>
                    
                
                </div>
          </div>
      </div>
    </div>
  </body>
</html>
