<!DOCTYPE HTML>
<html lang="en" data-ng-app="shop" data-ng-controller="IndexCtrl" orient="portrait" ng-init="init()">
  <head>
    <title>五金商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/0.4.2/weui.min.css">
    <link rel="stylesheet" href="/styles/example.css">
    
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/fancybox2.1.5/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/controllers/shop.js"></script>
  </head>
  <body>
    <div class="container content">
      <div class="weui_tab">
        <div class="weui_tab_bd">
          <div class="panel" ng-show="isView('main')">
            <div class="hd">
              <div class="card_title">
                <h1>分類</h1>
              </div>
            </div>
            <div class="bd">
              <div class="weui_grids">
                  <a ng-click="selectCategory(name)" class="weui_grid" ng-repeat="name in category">
                      <div class="weui_grid_icon">
                          <img src="http://placehold.it/56x56" alt="">
                      </div>
                      <p class="weui_grid_label">
                          {{name}}
                      </p>
                  </a>
              </div>
            </div>
          </div>
          <div class="panel" ng-show="isView('items')">
            <div class="hd">
              <div class="card_title">
                <h1>{{selectedCategory}}</h1>
              </div>
            </div>
            <div class="bd">
              <div class="weui_search_bar" id="search_bar" ng-class="{weui_search_focusing: isSearch}">
                  <form class="weui_search_outer">
                      <div class="weui_search_inner" ng-click="isSearch=true">
                          <i class="weui_icon_search"></i>
                          <input type="search" class="weui_search_input" id="search_input" ng-model="search" placeholder="搜索" required/>
                          <a ng-click="search=undefined" class="weui_icon_clear" id="search_clear"></a>
                      </div>
                      <label for="search_input" class="weui_search_text" id="search_text">
                          <i class="weui_icon_search"></i>
                          <span>搜索</span>
                      </label>
                  </form>
                  <a ng-click="isSearch=false" class="weui_search_cancel" id="search_cancel">取消</a>
              </div>
              <div class="weui_panel weui_panel_access">
                <div class="weui_panel_hd">商品列表</div>
                <div class="weui_panel_bd">
                    <a ng-click="selectItem(item)" class="weui_media_box weui_media_appmsg" ng-repeat="item in items | filter:search:false">
                        <div class="weui_media_hd">
                          <img class="weui_media_appmsg_thumb" ng-src="{{item.imgUrl}}" ng-show="item.imgUrl">
                          <img class="weui_media_appmsg_thumb" src="http://placehold.it/120x120" alt="" ng-hide="item.imgUrl">
                        </div>
                        <div class="weui_media_bd">
                            <h4 class="weui_media_title">{{item.name}}</h4>
                            <p class="weui_media_desc">{{item.description}}</p>
                        </div>
                    </a>
                </div>
                <a class="weui_panel_ft" ng-click="addItem()" ng-show="items.length>0">查看更多</a>
                <a class="weui_panel_ft" ng-hide="items.length>0">查無資料</a>
            </div>
            </div>
          </div>
          <div class="panel" ng-show="isView('item')">
            <div class="hd">
              <div style="height: 230px;text-align: center;max-width: 100%;">
                <img style="height: 100%;max-width: 100%;" ng-src="{{imgUrl}}" ng-show="selectedItem.item.imgUrl">
                <img src="http://placehold.it/375x210" alt="" ng-hide="selectedItem.item.imgUrl">
              </div>
            </div>
            <div class="bd">
              <div class="weui_panel weui_panel_access">
                <div class="weui_panel_bd">
                  <div class="weui_media_box weui_media_text">
                    <h4 class="weui_media_title">{{selectedItem.item.name}}</h4>
                    <p class="weui_media_desc">商品總價：<font style="color: chocolate;" ng-show="selectedItem.value>=0">MOP {{selectedItem.item.specification[selectedItem.spec].price*(selectedItem.value)}}</font></p>
                    <p class="weui_media_desc">商品單價：MOP {{selectedItem.item.specification[selectedItem.spec].price}}</p>
                  </div>

                </div>
              </div>
              <div class="weui_panel weui_panel_access">
                <div class="weui_panel_bd">
                    <div class="weui_cells_title">選項</div>
                    <div class="weui_cells weui_cells_form">
                      <div class="weui_cell weui_cell_select weui_select_after">
                        <div class="weui_cell_hd">
                          <label for class="weui_label">規格</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                          <select class="weui_select" ng-model="selectedItem.spec" convert-to-number ng-change="selectSpec()">
                            <option ng-repeat="sp in selectedItem.item.specification track by $index" value="{{$index}}">{{sp.label}} - 單價：MOP {{sp.price}}</option>
                          </select>
                        </div>
                        
                      </div>
                      <div class="weui_cell" ng-class="{weui_cell_warn: !valueValid()}">
                        <div class="weui_cell_hd">
                          <label for class="weui_label">數量</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                          <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                              <a class="weui_btn weui_btn_mini weui_btn_default" ng-click="selectedItem.value=selectedItem.value-1">－</a>
                            </span>
                            <input class="weui_input" style="width: 20%;text-align:center;vertical-align:super;" type="number" placeholder="請輸入數量" min="1" max="999" name="value" required ng-model="selectedItem.value"></input>
                            <span class="input-group-btn">
                              <a class="weui_btn weui_btn_mini weui_btn_default" ng-click="selectedItem.value=selectedItem.value+1">＋</a>
                            </span>
                          </div>
                        </div>
                        <div class="weui_cell_ft"><i class="weui_icon_warn"></i></div>
                      </div>
                      <div class="weui_btn_area">
                        <a ng-click="addCart(selectedItem)" class="weui_btn weui_btn_primary" id="showTooltips" ng-class="{weui_btn_disabled: !valueValid()}">加入購物車
                        </a>
                      </div>
                    </div>
                </div>
                <a class="weui_panel_ft">查詢更多</a>
            </div>
            </div>
          </div>
          <div class="panel" ng-show="isView('cart')">
            <div class="hd" ng-show="false">
              <div class="card_title">
                <h1>購物車</h1>
              </div>
            </div>
            <div class="bd">
              <div class="weui_cells weui_cells_access" ng-show="user.cart.length>0">
                <a ng-click="placeOrder(user.cart)" class="weui_cell">
                  <div class="weui_cell_bd weui_cell_primary">
                    <p style="font-size: 14px;">{{sumCart()}}</p>
                  </div>
                  <div class="weui_cell_ft">
                    立即下單
                  </div>
                </a>
              </div>
              <div class="weui_panel weui_panel_access">
                  <div class="weui_panel_hd">清單</div>
                  <div class="weui_panel_bd">
                      <a ng-click="showValueDialog($index)" class="weui_media_box weui_media_appmsg" ng-repeat="cartItem in user.cart track by $index">
                          <div class="weui_media_hd">
                              <img class="weui_media_appmsg_thumb" ng-src="{{cartItem.item.specification[cartItem.spec].imgUrl}}" alt="">
                          </div>
                          <div class="weui_media_bd">
                              <h4 class="weui_media_title">{{cartItem.item.name}}-{{cartItem.item.specification[cartItem.spec].label}}</h4>
                              <p class="weui_media_desc">MOP {{cartItem.item.specification[cartItem.spec].price}} x {{cartItem.value}} 件</p>
                          </div>
                          <div class="weui_media_ft">
                              <i class="weui_icon_cancel" ng-click="removeCart($index)"></i>
                          </div>
                      </a>
                  </div>
              </div>
            </div>
          </div>
          <div class="panel" ng-show="isView('create_order')">
            <div class="bd">
              <div class="weui_cells_title">送貨地址</div>
              <div class="weui_cells">
                <div class="weui_cell weui_cell_select">
                  <select class="weui_select" ng-model="newOrder.address">
                    <option value="">新增地址</option>
                    <option ng-repeat="address in user.address" ng-value="address">{{address}}</option>
                  </select>
                </div>
                <div class="weui_cell" ng-hide="newOrder.address">
                  <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" placeholder="請輸入地址" ng-model="newOrder.newAddress"></input>
                  </div>
                </div>
              </div>
              <div class="weui_cells_title">聯絡電話</div>
              <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                  <div class="weui_cell_hd">
                    <label class="weui_label">澳門</label>
                  </div>
                  <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" ng-model="newOrder.phone" placeholder="請輸入電話" ng-minlength="8" ng-maxlength="11"></input>
                  </div>
                </div>
              </div>
              <div class="weui_cells_tips">請確認資料正確後確認下單, {{phoneValid()}}, {{addressValid()}}, {{orderFormValid()}}</div>
              <div class="weui_btn_area">
                <a ng-click="confirmOrder(newOrder)" class="weui_btn weui_btn_primary" ng-class="{weui_btn_disabled: !orderFormValid()}">
                  確認下單
                </a>
              </div>
              <div class="weui_toptips weui_warn js_tooltips" ng-show="showTooltips">資料不附合格式</div>
            </div>
          </div>
          <div class="panel" ng-show="isView('mine')">
            <div class="hd">
              <div class="item_title">
                <h1>我的</h1>
              </div>
            </div>
            <div class="bd">
              <div class="weui_cells weui_cells_access">
                <div class="weui_cell" ng-click="pushView('mine_order')">
                  <div class="weui_cell_hd">
                    <img src="http://placehold.it/46x46" style="width:20px;margin-right:5px;display:block;">
                  </div>
                  <div class="weui_cell_bd weui_cell_primary">
                    <p>我的訂單</p>
                  </div>
                  <div class="weui_cell_ft">
                    更多
                  </div>
                </div>
                <div class="weui_cell">
                  <div class="weui_cell_hd">
                    <img src="http://placehold.it/46x46" style="width:20px;margin-right:5px;display:block;">
                  </div>
                  <div class="weui_cell_bd weui_cell_primary">
                    <p>我的資料</p>
                  </div>
                  <div class="weui_cell_ft">
                    更多
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel" ng-show="isView('mine_order')">
            <div class="bd">
              <div class="weui_cells_title">所有訂單</div>
              <div class="weui_cells weui_cells_access">
                <div class="weui_cell" ng-repeat="order in user.orders">
                  <div class="weui_cell_hd">
                    <img src="http://placehold.it/46x46" style="width:20px;margin-right:5px;display:block;">
                  </div>
                  <div class="weui_cell_bd weui_cell_primary">
                    <p>{{order.date}}</p>
                  </div>
                  <div class="weui_cell_ft" ng-click="order.done=true">
                    <font ng-hide="order.done">未完成</font>
                    <font ng-show="order.done">已完成</font>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="weui_dialog_alert" ng-show="valueDialog" name="value_dialog">
              <div class="weui_mask"></div>
              <div class="weui_dialog">
                  <div class="weui_dialog_hd">
                    <strong class="weui_dialog_title">更改數量</strong>
                  </div>
                  <div class="weui_dialog_bd">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <a ng-click="selectedCartItem.value=selectedCartItem.value-1" class="weui_btn weui_btn_mini weui_btn_default">－</a>
                      </span>
                      <input class="weui_input" style="width: 20%;text-align:center;vertical-align:super;" type="number" placeholder="請輸入數量" min="1" max="999" required ng-model="selectedCartItem.value"></input>
                      <span class="input-group-btn">
                        <a ng-click="selectedCartItem.value=selectedCartItem.value+1" class="weui_btn weui_btn_mini weui_btn_default">＋</a>
                      </span>
                    </div>
                  </div>
                  <div class="weui_dialog_ft">
                      <a ng-click="valueDialog=false" class="weui_btn_dialog primary">取消</a>
                      <a ng-click="changeValue()" class="weui_btn_dialog primary">確定</a>
                  </div>
              </div>
          </div>
          <div id="toast" ng-show="showToast">
              <div class="weui_mask_transparent"></div>
              <div class="weui_toast">
                  <i class="weui_icon_toast"></i>
                  <p class="weui_toast_content">已完成</p>
              </div>
          </div>
          
          <div class="weui_dialog_alert" ng-show="showDialog" name="alert_dialog">
              <div class="weui_mask"></div>
              <div class="weui_dialog">
                  <div class="weui_dialog_hd">
                    <strong class="weui_dialog_title">{{dialog.title}}</strong>
                  </div>
                  <div class="weui_dialog_bd">{{dialog.body}}</div>
                  <div class="weui_dialog_ft">
                      <a ng-click="showDialog=false" class="weui_btn_dialog primary">確定</a>
                  </div>
              </div>
          </div>
        </div>
        <div class="weui_tabbar">
            <a class="weui_tabbar_item" ng-class="{weui_bar_item_on: isSelected($index)}" ng-click="selectTab($index)" ng-repeat="name in tabName track by $index">
                <div class="weui_tabbar_icon">
                    <img src="http://placehold.it/56x56" alt="">
                </div>
                <p class="weui_tabbar_label">{{tabLabel($index)}}</p>
            </a>
        </div>
      </div>
    </div>
  </body>
</html>
