body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif;
    color: #000;
}

.content {
    padding-top: 100px;
    padding-bottom: 70px;
}

.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
}
.breadcrumb {
  border-radius: 0px;
}
.no-l-padding {
  padding-left: 0px;
}
.panel
{
  float: left;
  margin: 12px;
}
.panel-elem
{
    margin-bottom: 15px;
}
.list-group-item{
  background-color: #FFFFCC;
}
.panel {
  margin: 20px;
  border-style: solid;
  border-color: lightblue;
}

.panel-dashboard {
  margin-left: 0px;
}

.panel-heading {
  background-color: lightblue;
  color: #FFF;
}

.navbar-default {
  background-image: none;
  background: #FFE301;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: none;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
  font-weight: bold;
}


.footer {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 10px rgba(0, 0, 0, .075);
  border: 1px solid;
  border-color: #e7e7e7;
  position:fixed;
  bottom:0%;
  width:100%;
  height:70px;
  background-color:#FFE301;
  font-weight: bold；
  color: #777;

}
.form-control {
    width: 200px;
}

.full-width {
    width: 100%;
}
.right {
    float: right;
    margin-right: 5px;
}
.mandatory {
    color: red;
}

.tag .input-group-addon.tag {
    color: white;
    background-color: royalblue;
}

.input-group-addon.option {
    color: white;
    background-color: lightgreen;
}

.inputmandatory {
    border-color: #d9534f;
    box-shadow: inset 0 0.5px 0.5px rgba(0,0,0,.075),0 0 8px rgba(255,0,0,0.6);
}

.inputmandatory:focus {
    border-color: #d9534f;
    box-shadow: inset 0 0.5px 0.5px rgba(0,0,0,.075),0 0 8px rgba(255,0,0,0.6);
}

