#main-container {
  background-image:url('/images/easywash/main/main-background.png');
  background-repeat: no-repeat;;
  background-size: 100% 100%;
}
#container_share {
  background-image:url('/images/easywash/share/share-background.png');
  background-repeat: no-repeat;;
  background-size: 100% 100%;
}
#container_e {
  background-image:url('/images/easywash/event-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#container_p1 {
  background-image:url('/images/easywash/prize/prize1-background.png');
  background-repeat: no-repeat;;
  background-size: 100% 100%;
}
#container_p2 {
  background-image:url('/images/easywash/prize/prize2-background.png');
  background-repeat: no-repeat;;
  background-size: 100% 100%;
}
#container_e {
  background-image:url('/images/easywash/event/event-background.png');
  background-repeat: no-repeat;;
  background-size: 100% 100%;
}
#container_easywash {
  background-image:url('/images/easywash/about-easywash/about-easywash-background.png');
  background-repeat: no-repeat;;
  background-size: 100% 100%;
}
#container_thankyou {
  background-image:url('/images/easywash/thankyou/thankyou-background-final.png');
  background-repeat: no-repeat;;
  background-size: 100% 100%;
}
#prize1-2 img, #prize2-2 img {
  display: inline
}
#prize1-2 a + a, #prize2-2 a + a{
  margin-left: 8%;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: white;
}
.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
}
.fancybox-skin {
      background-color: #000000; /* or whatever */
    }

.modal {
  background-color: black;
}
.modal-content{
  border: 2px solid yellow;
  background-color: black;
  color: yellow;

}
.modal-body{
    height: 220px;
}
.modal-footer{
  background-color: yellow;
  color: black;
}
.modal-footer .btn{
  background-color: yellow;
}
#redeem1Modal form-control {
  width: 50%;
}




/* Smartphones (portrait and landscape) ----------- */
